Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$

Document M12 Multi-Agent Survey gap correction (PIN-304)
  docs/memory-pins/PIN-304-m12-multi-agent-survey-gap-correction.md
Due: none

Add system-complete survey (PIN-305)
  docs/memory-pins/PIN-305-system-complete-survey.md
Due: none

Establish Capability Registry as single source of truth (PIN-306)
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/PIN-306-capability-registry-governance.md
Due: none

Implement capability registry enforcement (PIN-306)
  .github/workflows/capability-registry.yml
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/capabilities/GAP_HEATMAP.md
  docs/memory-pins/PIN-306-capability-registry-governance.md
  scripts/ops/capability_registry_enforcer.py
Due: preflight-routes, api-endpoint-check

Governance hardening and gap closure (PIN-312, PIN-313)
  backend/app/api/integration.py
  backend/app/api/recovery.py
  backend/app/api/recovery_ingest.py
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/capabilities/GAP_HEATMAP.md
  docs/memory-pins/PIN-306-capability-registry-governance.md
  docs/memory-pins/PIN-312-cap018-approval-registry-stable.md
  docs/memory-pins/PIN-313-governance-hardening-gap-closure.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: Update INDEX.md with PIN-312 and PIN-313
  docs/memory-pins/INDEX.md
Due: none

Pre-push governance fixes (PIN-314)
  docs/governance/CAP_SCOPE_SCHEMA.md
  docs/governance/PRE_PUSH_SCOPE_CONTRACT.md
  docs/memory-pins/PIN-314-pre-push-governance-fixes.md
  scripts/ops/ci_consistency_check.sh
  scripts/ops/lint_frontend_api_calls.py
  scripts/ops/tests/test_lint_frontend_api_calls.py
Due: preflight-routes, api-endpoint-check

Governance hardening: Auth test matrix + CI guards (PIN-314 follow-up)
  .github/workflows/capability-registry.yml
  .github/workflows/governance-qualifier.yml
  .github/workflows/l2-layer-guard.yml
  backend/tests/authz/__init__.py
  backend/tests/authz/fixtures/__init__.py
  backend/tests/authz/fixtures/principals.py
  backend/tests/authz/test_authority_exhaustion.py
  backend/tests/contracts/test_l2_l3_contracts.py
  docs/governance/INTENTIONAL_OMISSIONS.yaml
  docs/governance/L2_PROMOTION_REGISTER.yaml
  docs/governance/M7_CLOSURE_NOTE.md
  docs/governance/PERMISSION_TAXONOMY_V1.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PIN-319: Intent Lock System for clean push by construction
  .pre-commit-config.yaml
  INTENT_DECLARATION.yaml
  docs/governance/INTENT_DECLARATION_SCHEMA.yaml
  docs/governance/NO_VERIFY_POLICY.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
  scripts/ops/worktree_sanity_check.py
Due: preflight-routes, api-endpoint-check

chore(governance): Document bypass exceptions and add tripwire
  INTENT_DECLARATION.yaml
  docs/governance/EXCEPTIONS.md
  scripts/ops/governance_tripwire.py
  scripts/ops/worktree_sanity_check.py
Due: preflight-routes, api-endpoint-check

fix(api): Resolve route collision in founder_review.py
  backend/app/api/founder_review.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

ci(governance): Add governance tripwire to CI pipeline
  .github/workflows/ci.yml
Due: none

feat(l2.1): Add L2.1 Epistemic Orchestration Layer — Table-First Design
  design/l2_1/elicitation/L2_1_SURFACE_ELICITATION.csv
  design/l2_1/governance/L2_1_ASSERTIONS.md
  design/l2_1/schema/l2_1_action_capabilities.schema.sql
  design/l2_1/schema/l2_1_domain_registry.schema.sql
  design/l2_1/schema/l2_1_epistemic_surface.schema.sql
  design/l2_1/schema/l2_1_order_definitions.schema.sql
  design/l2_1/schema/l2_1_surface_registry.schema.sql
  design/l2_1/seeds/l2_1_action_capabilities.seed.sql
  design/l2_1/seeds/l2_1_domain_registry.seed.sql
  design/l2_1/seeds/l2_1_order_definitions.seed.sql
  design/l2_1/seeds/l2_1_surface_registry.seed.sql
  design/l2_1/trace/L2_1_USAGE_MAP.md
  design/l2_1/trace/SURFACE_ID_SPECIFICATION.md
  design/l2_1/views/l2_1_epistemic_surface.view.md
  docs/layers/L2_1/DSM_L2_1.md
  docs/layers/L2_1/ESM_L2_1_TEMPLATE.md
  docs/layers/L2_1/FCL_L2_1.md
  docs/layers/L2_1/IPC_L2_1.md
  docs/layers/L2_1/L2_1_GOVERNANCE_ASSERTIONS.md
  docs/layers/L2_1/OSD_L2_1.md
  docs/layers/L2_1/UIS_L2_1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-347-l2-1-epistemic-layer-table-first.md
Due: none

chore(governance): Add Scope Admission Protocol (SESSION_PLAYBOOK v2.35)
  INTENT_DECLARATION.yaml
  docs/playbooks/SESSION_PLAYBOOK.yaml
Due: none

Add L2.1 Phase 2.1 UI Intent Supertable
  design/l2_1/supertable/COLUMN_PROPOSAL_REGISTER.md
  design/l2_1/supertable/CONTROL_PROPOSAL_REGISTER.md
  design/l2_1/supertable/L2_1_UI_INTENT_SUPERTABLE.csv
  design/l2_1/supertable/PHASE_2_1_COMPLETION_REPORT.md
  design/l2_1/supertable/PHASE_2_1_EXPLORATORY_ANALYSIS.md
Due: none

Add L2.1 Phase 2.1/2.2 artifacts and capability expander script
  design/l2_1/elicitation/PHASE_1_ACCOUNT_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_ACTIVITY_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_CONNECTIVITY_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_CONSOLIDATED_INTELLIGENCE_REPORT.md
  design/l2_1/elicitation/PHASE_1_INCIDENTS_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_LOGS_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_OVERVIEW_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/PHASE_1_POLICIES_CAPABILITY_INTELLIGENCE.md
  design/l2_1/elicitation/adapter_operator_crosswalk_incidents.csv
  design/l2_1/elicitation/capability_intelligence_all_domains.csv
  design/l2_1/elicitation/capability_intelligence_incidents.csv
  design/l2_1/supertable/L2_2_CAP_BINDING_SUMMARY.md
  design/l2_1/supertable/L2_2_UI_CAP_BINDING_DRAFT.csv
  design/l2_1/supertable/PHASE_2_1_DECISION_LEDGER.md
  design/l2_1/supertable/V1_THIN_UI_VISIBILITY_SUMMARY.md
  design/l2_1/supertable/l2_supertable_v2_cap_expanded.xlsx
  design/l2_1/supertable/multi_candidate_rows.csv
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-348-phase-1-capability-intelligence-extraction.md
  scripts/tools/l2_cap_expander.py
Due: preflight-routes, api-endpoint-check

Add L2.1 Supertable v3 with Overview domain correction
  design/l2_1/supertable/l2_supertable_v3_cap_expanded.xlsx
Due: none

Add L2.1 UI Contract pipeline with governance
  design/l2_1/supertable/l2_supertable_manifest.json
  design/l2_1/ui_contract/ui_contract_v1_summary.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-349-l21-ui-contract-v1-generation.md
  docs/memory-pins/PIN-350-l2-governed-pipeline-with-approval-gate.md
  scripts/tools/l2_cap_expander.py
  scripts/tools/l2_pipeline.py
  scripts/tools/ui_contract_generator.py
  website/app-shell/src/contracts/ui_contract.v1.json
Due: preflight-routes, api-endpoint-check

PIN-353: Routing Authority Infrastructure Freeze (4-Console Model)
  docs/memory-pins/PIN-353-routing-authority-infrastructure-freeze.md
  website/app-shell/src/App.tsx
  website/app-shell/src/components/layout/PreCusLayout.tsx
  website/app-shell/src/components/layout/Sidebar.tsx
  website/app-shell/src/components/navigation/CanonicalBreadcrumb.tsx
  website/app-shell/src/products/ai-console/app/AIConsoleApp.tsx
  website/app-shell/src/routes/FounderRoute.tsx
  website/app-shell/src/routes/index.tsx
  website/app-shell/src/routing/ROUTING_AUTHORITY_LOCK.md
  website/app-shell/src/routing/RouteGuardAssertion.tsx
  website/app-shell/src/routing/consoleContext.ts
  website/app-shell/src/routing/consoleRoots.ts
  website/app-shell/src/routing/index.ts
  website/app-shell/src/routing/routes.ts
Due: none

Add capability normalization pipeline (STEP 0B, 1, 1B)
  docs/capabilities/applicability/capability_applicability_matrix.csv
  docs/capabilities/applicability/capability_applicability_matrix.xlsx
  docs/capabilities/applicability/capability_applicability_matrix.yaml
  docs/capabilities/directional/capability_directional_metadata.csv
  docs/capabilities/directional/capability_directional_metadata.xlsx
  docs/capabilities/directional/capability_directional_metadata.yaml
  docs/capabilities/l21_bounded/L21_supertable_v3_cap_bounded_v1.xlsx
  docs/capabilities/l21_bounded/l21_baseline_rows.xlsx
  docs/capabilities/l21_bounded/l21_bind_failures.xlsx
  docs/capabilities/l21_bounded/l21_generated_rows.xlsx
  docs/capabilities/l21_enums.yaml
  docs/domains/domain_intent_spec.yaml
  docs/memory-pins/PIN-360-step-0b-directional-capability-normalization.md
  docs/memory-pins/PIN-361-step-1-domain-applicability-matrix.md
  docs/memory-pins/PIN-362-step-1b-l21-compatibility-scan.md
  scripts/ops/capability_applicability.py
  scripts/ops/capability_directional_ingest.py
  scripts/ops/l21_capability_bind_scan.py
Due: preflight-routes, api-endpoint-check

Add PIN-363: STEP 1B-R L2.1 Surface Rebaselining
  docs/capabilities/l21_bounded/l21_rerun_results.xlsx
  docs/capabilities/l21_bounded/l2_supertable_v3_rebased_surfaces.xlsx
  docs/memory-pins/PIN-363-step-1b-r-l21-surface-rebaselining.md
Due: none

Freeze STEP 1B acceptance: CAP-001 fix + all gates pass
  docs/capabilities/CAPABILITY_REGISTRY_UNIFIED.yaml
  docs/capabilities/applicability/capability_applicability_matrix.csv
  docs/capabilities/applicability/capability_applicability_matrix.xlsx
  docs/capabilities/applicability/capability_applicability_matrix.yaml
  docs/capabilities/directional/capability_directional_metadata.csv
  docs/capabilities/directional/capability_directional_metadata.xlsx
  docs/capabilities/directional/capability_directional_metadata.yaml
  docs/capabilities/l21_bounded/L21_supertable_v3_cap_bounded_v1.xlsx
  docs/capabilities/l21_bounded/l21_baseline_rows.xlsx
  docs/capabilities/l21_bounded/l21_bind_failures.xlsx
  docs/capabilities/l21_bounded/l21_generated_rows.xlsx
  docs/capabilities/l21_bounded/l21_rerun_results.xlsx
  docs/memory-pins/PIN-363-step-1b-r-l21-surface-rebaselining.md
  scripts/ops/capability_directional_ingest.py
Due: preflight-routes, api-endpoint-check

feat(ops): add STEP X capability opportunity mapping script
  docs/capabilities/step_x/capability_opportunity_map.xlsx
  docs/capabilities/step_x/unasked_questions.xlsx
  scripts/ops/capability_opportunity_mapping.py
Due: preflight-routes, api-endpoint-check

docs: update PIN-364 with STEP X execution results
  docs/memory-pins/PIN-364-step-x-capability-opportunity-mapping.md
Due: none

docs: add PIN-377 for auth architecture implementation
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-377-auth-architecture-issuer-based-routing-implementation.md
Due: none

feat(sdsr): implement SDSR-E2E-001 stability fixes and complete E2E pipeline
  .secrets.baseline
  CLAUDE.md
  backend/alembic/versions/078_aos_traces_sdsr_columns.py
  backend/app/services/incident_engine.py
  backend/app/traces/pg_store.py
  backend/app/worker/runner.py
  backend/scripts/sdsr/inject_synthetic.py
  backend/scripts/sdsr/scenarios/SDSR-E2E-001.yaml
  design/gaps/gap_registry.yaml
  docs/governance/SDSR_SYSTEM_CONTRACT.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-378-canonical-logs-system-sdsr-extension.md
  docs/memory-pins/PIN-379-sdsr-e2e-pipeline-gap-closure.md
  docs/memory-pins/PIN-380-sdsr-e2e-001-stability-fixes.md
  website/app-shell/src/api/traces.ts
  website/app-shell/src/components/panels/PanelContentRegistry.tsx
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

SDSR E2E Testing Protocol implementation
  CLAUDE.md
  backend/alembic/versions/079_sdsr_column_parity.py
  backend/alembic/versions/080_trace_archival_columns.py
  backend/scripts/preflight/rg_sdsr_execution_identity.py
  backend/scripts/preflight/sdsr_e2e_preflight.sh
  backend/scripts/preflight/sr1_migration_check.py
  backend/scripts/sdsr/inject_synthetic.py
  docs/governance/SDSR_E2E_TESTING_PROTOCOL.md
  docs/governance/WHY_SDSR_EXECUTION_WORKS.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Add trace metrics to SDSR E2E preflight
  backend/scripts/preflight/sdsr_e2e_preflight.sh
Due: none

Add SDSR-E2E-002: Success path negative test
  backend/scripts/sdsr/scenarios/SDSR-E2E-002.yaml
Due: none

Add PIN-381: SDSR E2E Testing Protocol Implementation
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-381-sdsr-e2e-testing-protocol-implementation.md
Due: none

Add scenario classification to SDSR scenarios
  backend/scripts/sdsr/scenarios/SDSR-E2E-001.yaml
  backend/scripts/sdsr/scenarios/SDSR-E2E-002.yaml
  backend/scripts/sdsr/scenarios/SDSR-E2E-005.yaml
Due: none

Update PIN-381 with scenario classification matrix
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-381-sdsr-e2e-testing-protocol-implementation.md
Due: none

fix(projection-routing): Implement 3-layer routing authority model (PIN-388)
  .gitignore
  backend/aurora_l2/compiler.py
  design/l2_1/ui_contract/ui_projection_lock.json
  docs/memory-pins/PIN-388-projection-routing-authority-and-promotion-pipeline.md
  scripts/tools/promote_projection.sh
  website/app-shell/public/projection/ui_projection_lock.json
  website/app-shell/src/contracts/ui_projection_loader.ts
  website/app-shell/src/contracts/ui_projection_types.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check
