Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

preflight-routes:
  name: Preflight Route Check
  entry: python scripts/ops/preflight.py --routes
  language: python
  pass_filenames: false
  stages:
  - pre-commit

sqlmodel-patterns:
  name: SQLModel Pattern Linter (Staged)
  entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
  language: python
  pass_filenames: true

api-endpoint-check:
  name: API Endpoint Wiring Check
  entry: python scripts/ops/check_api_wiring.py
  language: python
  pass_filenames: false

fix(routing): Enforce projection route separation + console isolation (PIN-389)
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-389-projection-route-separation-and-console-isolation.md
  website/app-shell/package.json
  website/app-shell/scripts/projection-route-check.cjs
  website/app-shell/src/components/layout/PreCusLayout.tsx
  website/app-shell/src/contracts/projection_assertions.ts
  website/app-shell/src/products/ai-console/app/AIConsoleLayout.tsx
  website/app-shell/src/routing/ConsoleIsolationGuard.tsx
  website/app-shell/src/routing/index.ts
Due: none

docs(governance): Add Epistemic Safety Protocol (PIN-389)
  CLAUDE_BOOT_CONTRACT.md
  docs/governance/CLAUDE_EPISTEMIC_SAFETY.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
  docs/playbooks/claude_epistemic_contract.yaml
Due: none

docs(pin): Update PIN-389 with Epistemic Safety Protocol
  docs/memory-pins/PIN-389-projection-route-separation-and-console-isolation.md
Due: none

docs(governance): Add Four-Console Query Authority Model (PIN-390)
  docs/behavior/behavior_library.yaml
  docs/governance/QUERY_AUTHORITY_MODEL.md
  docs/memory-pins/PIN-390-four-console-query-authority-model.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
  docs/schemas/query_authority_schema.json
Due: none

ci(governance): Add Query Authority CI Guard (PIN-390)
  docs/memory-pins/PIN-390-four-console-query-authority-model.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
  scripts/ci/query_authority_guard.py
Due: preflight-routes, api-endpoint-check

fix(rbac): add /api/v1/incidents/ to PUBLIC_PATHS
  backend/app/auth/rbac_middleware.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(rbac): schema-first authorization with RBAC_RULES.yaml (PIN-391)
  backend/app/auth/rbac_middleware.py
  backend/app/auth/rbac_rules_loader.py
  design/auth/RBAC_RULES.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-391-rbac-unification-schema-first-authorization.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
  scripts/ci/check_rbac_alignment.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(rbac): harden schema-first authorization (PIN-391 Phase 0.5)
  backend/app/auth/rbac_middleware.py
  backend/app/auth/rbac_rules_loader.py
  design/auth/RBAC_READ_BEFORE_EDITING.md
  design/auth/RBAC_RULES.yaml
  docs/memory-pins/PIN-391-rbac-unification-schema-first-authorization.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(auth): add query_authority for data access privileges (PIN-392)
  backend/app/auth/query_authority.py
  backend/app/auth/rbac_rules_loader.py
  design/auth/RBAC_RULES.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-392-query-authority-data-access-privileges.md
  scripts/ci/check_rbac_alignment.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(auth): make strict=True default in resolve_rbac_rule (PIN-391)
  backend/app/auth/rbac_rules_loader.py
  docs/memory-pins/PIN-391-rbac-unification-schema-first-authorization.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(auth): replace hardcoded PUBLIC_PATHS with schema-driven loader (PIN-391)
  backend/app/auth/gateway_middleware.py
  backend/app/auth/rbac_middleware.py
  backend/app/middleware/tenancy.py
  docs/memory-pins/PIN-391-rbac-unification-schema-first-authorization.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(governance): ratify Authorization Constitution (PIN-391, PIN-392)
  CLAUDE.md
  docs/governance/AUTHORIZATION_CONSTITUTION.md
  docs/memory-pins/PIN-391-rbac-unification-schema-first-authorization.md
  docs/memory-pins/PIN-392-query-authority-data-access-privileges.md
Due: none

Session lifecycle governance implementation
  .session_state.yaml
  CLAUDE_AUTHORITY.md
  artifacts/housekeeping/HK-20260112-125109.yaml
  artifacts/proofs/CLAUDE_TODO_COMPLETION.yaml
  artifacts/scenario_runs/SCENARIO-S14-RUN-1.yaml
  artifacts/scenario_runs/SCENARIO-S17-RUN-1.yaml
  artifacts/scenario_runs/SCENARIO-S17-RUN-2.yaml
  artifacts/scenario_runs/SCENARIO-S17-RUN-3.yaml
  artifacts/scenario_runs/SCENARIO-S19-RUN-1.yaml
  artifacts/session_exit/EXIT-test-20260112-125022.yaml
  artifacts/session_reconcile/SR-4e3a89da.yaml
  artifacts/session_reconcile/SR-6ef5b191.yaml
  artifacts/session_reconcile/SR-e68b3f48.yaml
  artifacts/session_reconcile/SR-test-interrupted-20260112-125022.yaml
  docs/ops/HOUSEKEEPING_PROTOCOL.md
  docs/ops/SCENARIO_VIOLATIONS.md
  docs/ops/SESSION_LIFECYCLE_SCENARIOS.md
  docs/ops/SESSION_RECONCILE_PROTOCOL.md
  docs/ops/housekeeping_registry.yaml
  docs/ops/session_reconcile_registry.yaml
  memory/session_pins/4e3a89da.yaml
  memory/session_pins/6ef5b191.yaml
  memory/session_pins/e68b3f48.yaml
  scripts/ops/apply_phase2a1_affordances.py
  scripts/ops/auth_invariant_scanner.py
  scripts/ops/housekeeping_scan.py
  scripts/ops/scenario_executor.py
  scripts/ops/session_exit.py
  scripts/ops/session_reconcile.py
  scripts/ops/step3_scenario_runner.py
Due: preflight-routes, api-endpoint-check

fix(ops): sort artifacts by modification time, not filename
  scripts/ops/session_exit.py
Due: preflight-routes, api-endpoint-check

feat(auth): implement capability-based RBAC and session context endpoint
  backend/app/api/session_context.py
  backend/app/auth/gateway_config.py
  backend/app/auth/identity_adapter.py
  backend/app/auth/jwt_auth.py
  backend/app/auth/oidc_provider.py
  backend/app/auth/rbac_middleware.py
  backend/app/main.py
  docs/architecture/FRONTEND_AUTH_CONTRACT.md
  docs/architecture/auth/AUTH_CONSOLE_CONTRACT.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-409-auth-console-contract-clerk-backend-authority.md
  website/app-shell/src/api/session.ts
  website/app-shell/src/hooks/useSessionContext.ts
  website/app-shell/src/routes/FounderRoute.tsx
  website/app-shell/src/stores/authStore.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(frontend): complete Clerk auth integration
  website/app-shell/.env.preflight
  website/app-shell/package-lock.json
  website/app-shell/package.json
  website/app-shell/src/App.tsx
  website/app-shell/src/api/client.ts
  website/app-shell/src/components/auth/ClerkAuthSync.tsx
  website/app-shell/src/components/layout/Header.tsx
  website/app-shell/src/components/panels/PanelContentRegistry.tsx
  website/app-shell/src/contexts/ProjectContext.tsx
  website/app-shell/src/main.tsx
  website/app-shell/src/pages/auth/LoginPage.tsx
  website/app-shell/src/products/ai-console/app/AIConsoleApp.tsx
  website/app-shell/src/products/ai-console/app/AIConsoleLayout.tsx
  website/app-shell/src/routes/OnboardingRoute.tsx
  website/app-shell/src/routes/ProtectedRoute.tsx
Due: none

feat(backend): add SDSR policy evaluation and idempotent incident inserts
  CLAUDE.md
  backend/app/services/incident_engine.py
  backend/app/services/policy_violation_service.py
  backend/app/worker/runner.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

v1 Implementation Freeze: Customer Console Constitution
  docs/contracts/CUSTOMER_CONSOLE_V1_CONSTITUTION.md
Due: none

PIN-414: Customer Console v1 Implementation Freeze
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-414-customer-console-v1-implementation-freeze.md
Due: none

Post-freeze hygiene: branch discipline + docs visibility + PR guardrail
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contracts/INDEX.md
Due: none

Fix Overview/Logs routers: use get_async_session_dep + datetime fixes
  backend/app/runtime_projections/logs/router.py
  backend/app/runtime_projections/overview/router.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PIN-419/420: Intent Ledger Architecture + First SDSR Binding
  INTENT_DECLARATION.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_ACKNOWLEDGE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_ACTIVATE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_ADD_NOTE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_APPROVE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_DEACTIVATE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_REJECT.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_RESOLVE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_UPDATE_LIMIT.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_UPDATE_RULE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_UPDATE_THRESHOLD.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_overview.activity_snapshot.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_summary.incidents.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_ACKNOWLEDGE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_ACTIVATE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_ADD_NOTE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_APPROVE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_DEACTIVATE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_REJECT.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_RESOLVE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_SUMMARY_ACTIVITY.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_UPDATE_LIMIT.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_UPDATE_RULE.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_UPDATE_THRESHOLD.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_summary.activity.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/AURORA_L2_CAPABILITY_summary.incidents.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/LEGACY_DEPRECATED/QUARANTINE_MANIFEST.yaml
  backend/scripts/sdsr/scenarios/observe_overview_activity_snapshot.yaml
  design/l2_1/INTENT_LEDGER.md
  design/l2_1/INTENT_LEDGER_GRAMMAR.md
  design/l2_1/UI_TOPOLOGY_TEMPLATE.yaml
  design/l2_1/ui_plan.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-419-intent-manifest-coherency-architecture.md
  docs/memory-pins/PIN-420-intent-ledger-pipeline-and-first-sdsr-binding.md
  scripts/tools/AURORA_L2_apply_sdsr_observations.py
  scripts/tools/bootstrap_intent_ledger.py
  scripts/tools/coherency_gate.py
  scripts/tools/sync_from_intent_ledger.py
Due: preflight-routes, api-endpoint-check

Add L2 API Endpoints CSV with input/output signals
  docs/api/L2_API_ENDPOINTS.csv
  scripts/ops/extract_l2_endpoints.py
Due: preflight-routes, api-endpoint-check

Add Intent Ledger panels CSV with panel-to-question mapping
  docs/api/INTENT_LEDGER_PANELS.csv
  scripts/ops/extract_intent_ledger.py
Due: preflight-routes, api-endpoint-check

Unified facades consolidation: 7 domains with real DB queries
  backend/app/api/accounts.py
  backend/app/api/activity.py
  backend/app/api/connectivity.py
  backend/app/api/incidents.py
  backend/app/api/logs.py
  backend/app/api/overview.py
  backend/app/api/policies.py
  backend/app/main.py
  backend/app/runtime_projections/__init__.py
  backend/app/runtime_projections/activity/__init__.py
  backend/app/runtime_projections/activity/runs.py
  backend/app/runtime_projections/incidents/__init__.py
  backend/app/runtime_projections/incidents/router.py
  backend/app/runtime_projections/logs/router.py
  backend/app/runtime_projections/overview/__init__.py
  backend/app/runtime_projections/overview/router.py
  backend/app/runtime_projections/policies/__init__.py
  backend/app/runtime_projections/policies/governance/__init__.py
  backend/app/runtime_projections/policies/governance/router.py
  backend/app/runtime_projections/policies/limits/__init__.py
  backend/app/runtime_projections/policies/limits/router.py
  backend/app/runtime_projections/router.py
  docs/architecture/UNIFIED_FACADES_CONSOLIDATION.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Add governance guardrails enforcement system
  docs/architecture/GOVERNANCE_GUARDRAILS.md
  scripts/ci/check_account_boundaries.py
  scripts/ci/check_audit_completeness.py
  scripts/ci/check_bidirectional_queries.py
  scripts/ci/check_capability_endpoints.py
  scripts/ci/check_capability_status.py
  scripts/ci/check_console_boundaries.py
  scripts/ci/check_cross_domain_propagation.py
  scripts/ci/check_domain_writes.py
  scripts/ci/check_facade_usage.py
  scripts/ci/check_foreign_keys.py
  scripts/ci/check_governance_audit.py
  scripts/ci/check_limit_audit.py
  scripts/ci/check_limit_enforcement.py
  scripts/ci/check_limit_tables.py
  scripts/ci/check_overview_readonly.py
  scripts/ci/check_response_envelopes.py
  scripts/ci/check_tenant_queries.py
  scripts/ci/guardrail_enforcer.py
  scripts/ci/guardrail_precommit.py
  scripts/ci/guardrail_watcher.py
  scripts/ci/run_guardrails.py
Due: preflight-routes, api-endpoint-check

Add PIN-436: Guardrail Violations Baseline
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-436-guardrail-violations-baseline.md
Due: none

Housekeeping: Archive stale checklists, update repo snapshot
  agentiverz_mn/archive/auth_blocker_notes.md
  agentiverz_mn/archive/auth_integration_checklist.md
  agentiverz_mn/archive/demo_checklist.md
  agentiverz_mn/archive/m9_blueprint.md
  agentiverz_mn/archive/m9_checklist.md
  agentiverz_mn/archive/m9_postmortem.md
  agentiverz_mn/archive/sdk_packaging_checklist.md
  agentiverz_mn/repo_snapshot.md
Due: none

PIN-411: Filter-based gap closure for Policies domain
  backend/alembic/versions/099_policy_rules_rule_type.py
  backend/alembic/versions/100_policy_violations_violation_kind.py
  backend/app/api/policies.py
  backend/app/models/policy_control_plane.py
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: Add Section 13 details and commit hash to POLICIES_DOMAIN_AUDIT.md
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
Due: none

PIN-411: Add Policy Graph Engines and Panel Invariant Monitor
  backend/app/api/policies.py
  backend/app/services/panel_invariant_monitor.py
  backend/app/services/panel_invariant_registry.yaml
  backend/app/services/policy_graph_engine.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: Add Section 14 - Policy Graph Engines & Panel Invariant Monitor
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
Due: none

governance: Add Policies Domain Constitution and CI regression guard
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
  docs/contracts/POLICIES_DOMAIN_CONSTITUTION.md
  scripts/preflight/check_panel_invariant_registry.py
Due: preflight-routes, api-endpoint-check

governance: Wire GOV-POL-001/002/003 invariants into engine code
  backend/app/main.py
  backend/app/services/policy_proposal.py
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
