Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check, surface-slot-coverage, auth-invariant-scanner

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
  surface-slot-coverage: any of: (?x)^(
  design/l2_1/step_2a/.*|
  docs/capabilities/l21_bounded/.*|
  scripts/ci/surface_slot_coverage_guard\.py
)$

  auth-invariant-scanner: any of: (?x)^(
  backend/app/auth/.*|
  backend/app/api/.*|
  backend/app/services/.*
)$


governance: complete W7 closure audit and record PIN-604
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_BLOCKER_QUEUE_W4_W7_AUDIT_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_BLOCKER_QUEUE_W7_CLOSURE_AUDIT_IMPLEMENTED_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_BLOCKER_QUEUE_WAVE_PLAN_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_Blocker_Queue_W7_Closure_Audit_2026_02_21_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_Blocker_Queue_W7_Closure_Audit_2026_02_21_plan_implemented.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-604-hoc-blocker-queue-w4-w7-closure.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

docs: execute hoc api ledger wave1 (cus) with drift audit evidence
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21_implemented.md
  docs/api/HOC_CUS_API_LEDGER.csv
  docs/api/HOC_CUS_API_LEDGER.json
  docs/api/HOC_CUS_API_LEDGER.md
  docs/api/HOC_CUS_API_LEDGER_MISMATCH_AUDIT_2026-02-21.json
  docs/api/HOC_CUS_API_LEDGER_MISMATCH_AUDIT_2026-02-21.md
  docs/api/HOC_CUS_API_LEDGER_WAVE1_AUDIT_2026-02-21.md
  docs/api/_stagetest_openapi_2026-02-21.json
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-601-hoc-api-ledger-wave1-cus-baseline-and-drift-audit.md
Due: none

fdr: add stagetest API ledger endpoint and apache publish template
  backend/app/hoc/api/fdr/ops/stagetest.py
  backend/app/hoc/fdr/ops/engines/stagetest_read_engine.py
  backend/tests/api/test_stagetest_read_api.py
  scripts/deploy/apache/stagetest.agenticverz.com.conf
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: mark wave1 ledger publication blocker as resolved
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21_implemented.md
  docs/api/HOC_CUS_API_LEDGER_WAVE1_AUDIT_2026-02-21.md
Due: none

fdr: execute wave2 API ledger rollout and merged publication fallback
  backend/app/hoc/api/fdr/ops/stagetest.py
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_LEDGER_SKILL_ROLLOUT_PLAN_2026-02-21_implemented.md
  backend/app/hoc/fdr/ops/engines/stagetest_read_engine.py
  backend/tests/api/test_stagetest_read_api.py
  docs/api/HOC_API_LEDGER_ALL.csv
  docs/api/HOC_API_LEDGER_ALL.json
  docs/api/HOC_API_LEDGER_ALL.md
  docs/api/HOC_FDR_API_LEDGER.csv
  docs/api/HOC_FDR_API_LEDGER.json
  docs/api/HOC_FDR_API_LEDGER.md
  docs/api/HOC_FDR_API_LEDGER_MISMATCH_AUDIT_2026-02-21.json
  docs/api/HOC_FDR_API_LEDGER_MISMATCH_AUDIT_2026-02-21.md
  docs/api/HOC_FDR_API_LEDGER_WAVE2_AUDIT_2026-02-21.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-602-hoc-api-ledger-wave2-fdr-publication-expansion.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(cus): add grouped CUS publication endpoints and per-domain ledgers
  backend/app/hoc/api/apis/__init__.py
  backend/app/hoc/api/apis/cus_publication.py
  backend/app/hoc/app.py
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_STRICT_STABILIZATION_PASS_PLAN_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
  docs/api/HOC_CUS_API_LEDGER.json
  docs/api/HOC_CUS_API_LEDGER.md
  docs/api/cus/account_ledger.json
  docs/api/cus/activity_ledger.json
  docs/api/cus/analytics_ledger.json
  docs/api/cus/api_keys_ledger.json
  docs/api/cus/controls_ledger.json
  docs/api/cus/incidents_ledger.json
  docs/api/cus/integrations_ledger.json
  docs/api/cus/logs_ledger.json
  docs/api/cus/overview_ledger.json
  docs/api/cus/policies_ledger.json
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(cus): remediate PR #32 — capability linkage, facade wiring, tests, artifacts
  backend/app/hoc/api/apis/__init__.py
  backend/app/hoc/api/apis/cus_publication.py
  backend/app/hoc/api/facades/apis/__init__.py
  backend/app/hoc/app.py
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
  backend/app/hoc/int/analytics/engines/runner.py
  backend/app/hoc/int/worker/runner.py
  backend/tests/api/test_cus_publication_api.py
  docs/api/cus/account_ledger.csv
  docs/api/cus/account_ledger.md
  docs/api/cus/activity_ledger.csv
  docs/api/cus/activity_ledger.md
  docs/api/cus/analytics_ledger.csv
  docs/api/cus/analytics_ledger.md
  docs/api/cus/api_keys_ledger.csv
  docs/api/cus/api_keys_ledger.md
  docs/api/cus/controls_ledger.csv
  docs/api/cus/controls_ledger.md
  docs/api/cus/incidents_ledger.csv
  docs/api/cus/incidents_ledger.md
  docs/api/cus/integrations_ledger.csv
  docs/api/cus/integrations_ledger.md
  docs/api/cus/logs_ledger.csv
  docs/api/cus/logs_ledger.md
  docs/api/cus/overview_ledger.csv
  docs/api/cus/overview_ledger.md
  docs/api/cus/policies_ledger.csv
  docs/api/cus/policies_ledger.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(pr32): remediate capability/authority blockers and correct evidence status
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
  backend/app/hoc/int/worker/runner.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(pr32): correct CI blocker attribution and status evidence
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
Due: none

feat(cus): publish grouped swagger/ledger endpoints live on stagetest
  backend/app/hoc/cus/hoc_spine/authority/gateway_policy.py
  backend/tests/api/test_cus_publication_api.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(cus): update plan_implemented with gateway fix evidence and pre-deploy probes
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
Due: none

docs(pr33): correct blocker attribution and PR identity in evidence report
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
Due: none

docs(pr33): fix stale auth note and timestamp CI snapshot
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Strict_Stabilization_Pass_2026_02_21_plan_implemented.md
Due: none

fix(rbac): add CUS publication public paths + rollout evidence
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_APIs_Swagger_Stagetest_Rollout_2026_02_21_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_APIs_Swagger_Stagetest_Rollout_2026_02_21_plan_implemented.md
  design/auth/RBAC_RULES.yaml
Due: none

docs: add PIN-602 CUS publication rollout complete
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-602-cus-publication-rollout-complete.md
Due: none

feat(stagetest): add auth-bypass route guards and PIN-603 verification
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_APIs_Swagger_Stagetest_Rollout_2026_02_21_plan_implemented.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-603-stagetest-auth-bypass-verification.md
  website/app-shell/.env.stagetest
  website/app-shell/src/routes/FounderRoute.tsx
  website/app-shell/src/routes/ProtectedRoute.tsx
  website/app-shell/src/routes/index.tsx
Due: none

auth(scaffold): add provider seam and in-house auth skeleton
  backend/app/auth/auth_constants.py
  backend/app/auth/auth_provider.py
  backend/app/auth/auth_provider_clerk.py
  backend/app/auth/auth_provider_hoc_identity.py
  backend/app/auth/gateway.py
  backend/app/hoc/api/auth/__init__.py
  backend/app/hoc/api/auth/routes.py
  backend/app/hoc/api/auth/schemas.py
  backend/app/hoc/app.py
  backend/tests/auth/test_auth_identity_routes.py
  backend/tests/auth/test_auth_provider_seam.py
  website/app-shell/src/auth/AuthContext.tsx
  website/app-shell/src/auth/AuthTokenSync.ts
  website/app-shell/src/auth/adapters/ClerkAuthAdapter.ts
  website/app-shell/src/auth/adapters/HocIdentityAuthAdapter.ts
  website/app-shell/src/auth/index.ts
  website/app-shell/src/auth/types.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check, auth-invariant-scanner

fix(auth): remediate provider scaffold governance and context parity
  backend/app/auth/auth_constants.py
  backend/app/auth/auth_provider.py
  backend/app/auth/auth_provider_clerk.py
  backend/app/auth/auth_provider_hoc_identity.py
  backend/app/auth/contexts.py
  backend/app/auth/gateway.py
  backend/app/hoc/api/auth/__init__.py
  backend/app/hoc/api/auth/routes.py
  backend/app/hoc/api/auth/schemas.py
  backend/app/hoc/api/facades/auth/__init__.py
  backend/app/hoc/app.py
  backend/tests/auth/test_auth_provider_seam.py
  website/app-shell/src/auth/AuthContext.tsx
  website/app-shell/src/auth/AuthTokenSync.ts
  website/app-shell/src/auth/adapters/ClerkAuthAdapter.ts
  website/app-shell/src/auth/adapters/HocIdentityAuthAdapter.ts
  website/app-shell/src/auth/index.ts
  website/app-shell/src/auth/types.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check, auth-invariant-scanner

feat(auth): introduce Clove as canonical auth system, deprecate Clerk
  backend/app/auth/auth_constants.py
  backend/app/auth/auth_provider.py
  backend/app/auth/auth_provider_clove.py
  backend/app/auth/auth_provider_hoc_identity.py
  backend/app/auth/contexts.py
  backend/app/auth/gateway.py
  backend/app/hoc/api/auth/routes.py
  backend/app/hoc/api/auth/schemas.py
  backend/app/hoc/docs/architecture/usecases/CLOVE_CANONICAL_CLERK_DEPRECATED_DECISION_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/CLOVE_CANONICAL_CLERK_DEPRECATED_DECISION_plan_implemented.md
  backend/tests/auth/test_auth_identity_routes.py
  backend/tests/auth/test_auth_provider_seam.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-606-clove-canonical-clerk-deprecated.md
  literature/hoc_domain/platform/HOC_PLATFORM_AUTH_PROVIDER_SEAM_CUTOVER_2026-02-21.md
  literature/hoc_domain/platform/SOFTWARE_BIBLE.md
  website/app-shell/src/auth/adapters/CloveAuthAdapter.ts
  website/app-shell/src/auth/index.ts
  website/app-shell/src/auth/types.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check, auth-invariant-scanner

docs(auth): add missing auth replacement evidence pins and align clove wording
  backend/app/auth/tenant_auth.py
  backend/app/hoc/docs/architecture/usecases/HOC_AUTH_CLERK_REPLACEMENT_DESIGN_V1_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_AUTH_SEAM_V1_TESTCASE_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_AUTH_SYSTEM_BASELINE_AND_INHOUSE_REPLACEMENT_REPORT_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_Seam_V1_Runtime_Validation_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_Seam_V1_Runtime_Validation_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_plan_implemented.md
  docs/memory-pins/PIN-604-hoc-identity-seam-hardening-and-observability.md
  docs/memory-pins/PIN-605-auth-seam-v1-runtime-validation-audit-pass.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check, auth-invariant-scanner

chore: refresh validator status timestamp
  .validator_status.json
Due: none

governance(auth): align CAP-006 clove evidence and clear missing-evidence warnings
  .validator_status.json
  docs/capabilities/CAPABILITY_REGISTRY.yaml
Due: none

feat(auth): add JWKS readiness gate and startup fail-fast for Clove provider
  backend/app/auth/auth_provider.py
  backend/app/auth/auth_provider_clove.py
  backend/app/hoc/api/auth/routes.py
  backend/app/hoc/api/auth/schemas.py
  backend/app/hoc/cus/hoc_spine/authority/gateway_policy.py
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_JWKS_Readiness_Gate_and_Startup_Fail_Fast_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_JWKS_Readiness_Gate_and_Startup_Fail_Fast_plan_implemented.md
  backend/app/main.py
  backend/tests/auth/test_auth_identity_routes.py
  backend/tests/auth/test_auth_provider_seam.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check, auth-invariant-scanner

fix(auth): close JWKS gate audit gaps — RBAC rule, public-path tests, stale SHA
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_JWKS_Readiness_Gate_and_Startup_Fail_Fast_plan_implemented.md
  backend/tests/auth/test_auth_provider_seam.py
  design/auth/RBAC_RULES.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(auth): add PIN-607 for JWKS remediation closure and finalize evidence
  .validator_status.json
  backend/app/hoc/docs/architecture/usecases/HOC_Auth_JWKS_Readiness_Gate_and_Startup_Fail_Fast_plan_implemented.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-607-clove-jwks-readiness-gate-remediation-closure.md
Due: none

docs(auth): complete Pre-Wave0 T1-T8 taskpack — Wave A GO
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Auth_Migration_Cutover_Plan_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Auth_Threat_Model_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_FirstParty_Auth_Architecture_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Observability_Baseline_Audit_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Observability_Standard_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Audit_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_T1_T8_Taskpack_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_T1_T8_Taskpack_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Auth_Replacement_and_Observability_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_Pre_Wave0_Gate_Checklist_2026-02-21.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_System_Debugger_Spec_2026-02-21.md
Due: none
