Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

preflight-routes:
  name: Preflight Route Check
  entry: python scripts/ops/preflight.py --routes
  language: python
  pass_filenames: false
  stages:
  - pre-commit

sqlmodel-patterns:
  name: SQLModel Pattern Linter (Staged)
  entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
  language: python
  pass_filenames: true

api-endpoint-check:
  name: API Endpoint Wiring Check
  entry: python scripts/ops/check_api_wiring.py
  language: python
  pass_filenames: false

fix(governance): make t0 strict (no L6 hoc_spine imports)
  backend/app/hoc/cus/controls/L6_drivers/circuit_breaker_async_driver.py
  backend/app/hoc/cus/controls/L6_drivers/circuit_breaker_driver.py
  backend/app/hoc/cus/controls/L6_drivers/threshold_driver.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/incidents_bridge.py
  backend/app/hoc/cus/hoc_spine/schemas/protocols.py
  backend/app/hoc/cus/hoc_spine/schemas/threshold_types.py
  backend/app/hoc/cus/incidents/L6_drivers/export_bundle_driver.py
  backend/app/hoc/cus/incidents/L6_drivers/incident_driver.py
  backend/app/hoc/cus/policies/L5_engines/plan_generation.py
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
  docs/architecture/hoc/HOC_SPINE_IMPORT_MATRIX_CUS.md
  docs/architecture/hoc/PHASE2_HOC_SPINE_IMPORT_AUDIT.md
  docs/architecture/hoc/W*_T*_applcaition_plan_1.md
  docs/memory-pins/PIN-504-cross-domain-violation-resolution.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): Onboarding SSOT — move onboarding mutations behind account L5/L6 + L4 ops
  backend/app/api/session_context.py
  backend/app/auth/gateway_middleware.py
  backend/app/auth/onboarding_transitions.py
  backend/app/hoc/api/cus/integrations/session_context.py
  backend/app/hoc/api/cus/logs/tenants.py
  backend/app/hoc/api/fdr/incidents/founder_onboarding.py
  backend/app/hoc/api/int/agent/onboarding.py
  backend/app/hoc/api/int/general/sdk.py
  backend/app/hoc/cus/account/L5_engines/onboarding_engine.py
  backend/app/hoc/cus/account/L5_schemas/onboarding_dtos.py
  backend/app/hoc/cus/account/L5_schemas/onboarding_enums.py
  backend/app/hoc/cus/account/L6_drivers/onboarding_driver.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/onboarding_handler.py
  backend/app/hoc/int/api_keys/engines/onboarding_transitions.py
  backend/app/hoc/int/integrations/engines/gateway_middleware.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: update lifecycle harness plan + literature for Phase A2 + B completion
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
  docs/architecture/hoc/W*_T*_applcaition_plan_1.md
  literature/hoc_domain/account/ACCOUNT_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/account/DOMAIN_CAPABILITY.md
  literature/hoc_domain/account/SOFTWARE_BIBLE.md
  literature/hoc_domain/controls/CONTROLS_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/controls/DOMAIN_CAPABILITY.md
  literature/hoc_domain/controls/SOFTWARE_BIBLE.md
  literature/hoc_domain/incidents/DOMAIN_CAPABILITY.md
  literature/hoc_domain/incidents/INCIDENT_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/incidents/SOFTWARE_BIBLE.md
  literature/hoc_domain/policies/DOMAIN_CAPABILITY.md
  literature/hoc_domain/policies/POLICIES_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/policies/SOFTWARE_BIBLE.md
  literature/hoc_spine/HOC_SPINE_CONSTITUTION.md
Due: none

fix(hoc): rewire stalled onboarding detection to L4 async helper
  backend/app/hoc/api/fdr/incidents/founder_onboarding.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/onboarding_handler.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

refactor(hoc): delete legacy onboarding_transitions.py + rewire app/api/* callers
  backend/app/api/founder_onboarding.py
  backend/app/api/onboarding.py
  backend/app/api/sdk.py
  backend/app/api/tenants.py
  backend/app/auth/onboarding_transitions.py
  backend/app/hoc/int/api_keys/engines/onboarding_transitions.py
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
  docs/architecture/hoc/W*_T*_applcaition_plan_1.md
  docs/governance/FREEZE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: mark Phase C (Policies) and Phase D (API Keys) as NO-OP — lifecycle harness complete
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
Due: none

refactor(hoc): canonicalize phase-9 tenant lifecycle
  backend/app/api/founder_lifecycle.py
  backend/app/api/middleware/lifecycle_gate.py
  backend/app/auth/lifecycle_provider.py
  backend/app/auth/tenant_lifecycle.py
  backend/app/hoc/api/int/logs/__init__.py
  backend/app/hoc/cus/account/L5_schemas/tenant_lifecycle_state.py
  backend/app/hoc/cus/hoc_spine/authority/lifecycle_provider.py
  backend/app/hoc/int/account/drivers/tenant_auth.py
  backend/app/hoc/int/account/engines/lifecycle_gate.py
  backend/app/hoc/int/account/engines/onboarding_state.py
  backend/app/hoc/int/account/engines/tenant_lifecycle.py
  backend/app/hoc/int/account/engines/tenant_resolver.py
  backend/app/hoc/int/account/engines/tenant_roles.py
  backend/tests/e2e/test_phase9_lifecycle_e2e.py
  backend/tests/governance/t3/test_policy_lifecycle_states.py
  backend/tests/lifecycle/test_mock_lifecycle_provider.py
  backend/tests/middleware/test_runtime_gates.py
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
  docs/governance/FREEZE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

refactor(hoc): drop legacy founder onboarding route module
  backend/app/api/founder_onboarding.py
  backend/tests/api/test_founder_onboarding_force_complete.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

refactor(hoc): canonicalize onboarding state + clear L2 model imports (PIN-399)
  backend/app/api/billing_dependencies.py
  backend/app/api/middleware/billing_gate.py
  backend/app/api/onboarding.py
  backend/app/api/protection_dependencies.py
  backend/app/api/sdk.py
  backend/app/api/session_context.py
  backend/app/api/tenants.py
  backend/app/auth/gateway_middleware.py
  backend/app/auth/onboarding_gate.py
  backend/app/hoc/api/cus/integrations/protection_dependencies.py
  backend/app/hoc/api/cus/integrations/session_context.py
  backend/app/hoc/api/cus/logs/tenants.py
  backend/app/hoc/api/cus/policies/aos_accounts.py
  backend/app/hoc/api/cus/policies/billing_dependencies.py
  backend/app/hoc/api/cus/policies/guard.py
  backend/app/hoc/api/fdr/incidents/founder_onboarding.py
  backend/app/hoc/api/int/agent/onboarding.py
  backend/app/hoc/api/int/general/sdk.py
  backend/app/hoc/api/int/policies/billing_gate.py
  backend/app/hoc/cus/account/L5_engines/onboarding_engine.py
  backend/app/hoc/cus/account/L5_schemas/onboarding_enums.py
  backend/app/hoc/cus/account/L5_schemas/onboarding_state.py
  backend/app/hoc/cus/hoc_spine/authority/onboarding_policy.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/onboarding_handler.py
  backend/app/hoc/int/integrations/engines/gateway_middleware.py
  backend/scripts/ci/check_frozen_files.py
  backend/tests/api/test_founder_onboarding_force_complete.py
  backend/tests/e2e/test_phase6_7_e2e_validation.py
  backend/tests/e2e/test_phase8_observability_e2e.py
  backend/tests/e2e/test_phase9_lifecycle_e2e.py
  backend/tests/middleware/test_runtime_gates.py
  docs/architecture/hoc/DOMAIN_LIFECYCLE_HARNESS_REFACTOR_PLAN_V1.md
  docs/architecture/hoc/literature/05_policies/DOMAIN_WIRING_MAP.md
  docs/architecture/hoc/literature/05_policies/L2_apis.md
  docs/architecture/hoc/literature/09_integrations/L2_apis.md
  docs/architecture/hoc/literature/LITERATURE_INDEX.md
  docs/architecture/hoc/literature/WIRING_VIOLATIONS.md
  docs/architecture/hoc/literature/literature_index.json
  docs/architecture/hoc/literature/violations.json
  docs/governance/FREEZE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: update account/policies bibles + add PIN-531 onboarding SSOT note
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-531-hoc-onboarding-state-canonicalization.md
  literature/hoc_domain/account/ACCOUNT_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/account/SOFTWARE_BIBLE.md
  literature/hoc_domain/policies/POLICIES_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/policies/SOFTWARE_BIBLE.md
  literature/hoc_spine/HOC_SPINE_CONSTITUTION.md
Due: none

fix(hoc): make v1_killswitch L2-pure (no app.models imports)
  backend/app/hoc/api/cus/policies/v1_killswitch.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: record app/api deletion (PIN-532)
  backend/app/hoc/api/hoc_api_canonical_literature.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-526-hoc-api-wiring-migration.md
  docs/memory-pins/PIN-532-delete-legacy-backendappapi.md
Due: none

fix(auth): restore onboarding_state shim (HOC canonical)
  backend/app/auth/onboarding_state.py
  backend/app/hoc/int/general/engines/role_guard.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

refactor(hoc): remove auth.onboarding_state; add hoc_main entrypoint
  backend/app/auth/onboarding_state.py
  backend/app/auth/role_guard.py
  backend/app/hoc/api/cus/integrations/protection_dependencies.py
  backend/app/hoc/api/cus/policies/billing_dependencies.py
  backend/app/hoc/cus/account/L6_drivers/accounts_facade_driver.py
  backend/app/hoc/cus/hoc_spine/authority/onboarding_policy.py
  backend/app/hoc/int/agent/engines/onboarding_gate.py
  backend/app/hoc/int/general/engines/role_guard.py
  backend/app/hoc_main.py
  backend/app/services/accounts_facade.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add knowledge plane harness plan + literature (PIN-533)
  docs/architecture/hoc/INDEX.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_REFACTOR_PLAN_V1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-533-knowledge-plane-lifecycle-harness-plan-and-literature.md
  literature/hoc_domain/integrations/INTEGRATIONS_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/policies/POLICIES_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_spine/HOC_SPINE_CONSTITUTION.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LITERATURE.md
Due: none

docs: clarify audience surfaces vs hoc_spine runtime
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/topology/HOC_LAYER_TOPOLOGY_V2.0.0.md
  docs/memory-pins/PIN-533-knowledge-plane-lifecycle-harness-plan-and-literature.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LITERATURE.md
Due: none

docs: phase 0 knowledge plane contracts + tenant lifecycle gate
  docs/architecture/hoc/KNOWLEDGE_PLANE_CONTRACTS_V1.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_PHASE0_INTENT_AND_INVENTORY_V1.md
Due: none

feat(hoc): knowledge planes Phase 0 audience scoping
  backend/app/hoc/api/cus/policies/retrieval.py
  backend/app/hoc/api/facades/fdr/ops.py
  backend/app/hoc/api/fdr/ops/retrieval_admin.py
  backend/app/hoc/api/hoc_api_canonical_literature.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_CONTRACTS_V1.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_PHASE0_INTENT_AND_INVENTORY_V1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-534-knowledge-plane-phase0-audience-scoping.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(hoc): Phase 1 knowledge plane harness kit
  backend/app/hoc/cus/hoc_spine/schemas/knowledge_plane_harness.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/PIN-533-knowledge-plane-lifecycle-harness-plan-and-literature.md
  literature/hoc_spine/HOC_SPINE_CONSTITUTION.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): Phase 2 knowledge plane SSOT persistence
  backend/alembic/versions/121_add_costsim_canary_reports.py
  backend/alembic/versions/122_knowledge_plane_registry.py
  backend/app/hoc/cus/hoc_spine/drivers/knowledge_plane_registry_driver.py
  backend/app/hoc/cus/hoc_spine/drivers/retrieval_evidence_driver.py
  backend/app/models/knowledge_plane_registry.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_PHASE0_INTENT_AND_INVENTORY_V1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-535-knowledge-plane-phase2-persistence-ssot.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): Phase 3 knowledge plane ops via registry
  backend/app/hoc/api/fdr/ops/retrieval_admin.py
  backend/app/hoc/cus/hoc_spine/drivers/knowledge_plane_registry_driver.py
  backend/app/hoc/cus/hoc_spine/drivers/retrieval_evidence_driver.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/knowledge_planes_handler.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs(hoc): record Phase 3 knowledge plane wiring
  docs/architecture/hoc/KNOWLEDGE_PLANE_CONTRACTS_V1.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_PHASE0_INTENT_AND_INVENTORY_V1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-536-knowledge-plane-phase3-ops-registry-wiring.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: none

feat: knowledge planes phase 4 (retrieval unification)
  backend/app/hoc/cus/hoc_spine/services/knowledge_plane_connector_registry_engine.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_evidence_engine.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_facade.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_mediator.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-536-knowledge-plane-phase3-ops-registry-wiring.md
  docs/memory-pins/PIN-537-knowledge-plane-phase4-retrieval-unification.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(hoc): Phase 5 delete legacy app.services knowledge shims
  backend/app/services/knowledge/__init__.py
  backend/app/services/knowledge/knowledge_plane.py
  backend/app/services/knowledge_lifecycle_manager.py
  backend/app/services/mediation/__init__.py
  backend/app/services/mediation/retrieval_mediator.py
  backend/app/services/retrieval/facade.py
  backend/tests/governance/t0/test_retrieval_mediator.py
  backend/tests/governance/t2/test_knowledge_plane.py
  backend/tests/governance/t3/test_knowledge_domain.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-538-knowledge-plane-phase5-delete-app-services-shims.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): knowledge planes phase 6 (policy gate + sql runtime)
  backend/app/hoc/cus/hoc_spine/services/knowledge_plane_connector_registry_engine.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_mediator.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_policy_checker_engine.py
  backend/tests/governance/t0/test_retrieval_policy_checker.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-539-knowledge-plane-phase6-policy-gate-and-sql-connector.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): knowledge plane lifecycle transition op
  backend/app/hoc/api/fdr/ops/retrieval_admin.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/knowledge_planes_handler.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-540-knowledge-plane-transition-operation.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): knowledge plane config ops + remove legacy SSOT
  backend/alembic/env.py
  backend/app/hoc/api/fdr/ops/retrieval_admin.py
  backend/app/hoc/cus/hoc_spine/drivers/knowledge_plane_registry_driver.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/knowledge_planes_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/lifecycle/knowledge_lifecycle_manager.py
  backend/app/hoc/cus/hoc_spine/orchestrator/lifecycle/knowledge_sdk.py
  backend/app/hoc/cus/hoc_spine/services/knowledge_plane_connector_registry_engine.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_evidence_engine.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_facade.py
  backend/app/hoc/cus/hoc_spine/services/retrieval_policy_checker_engine.py
  backend/app/services/knowledge_sdk.py
  backend/tests/governance/t0/test_knowledge_governed_retrieval_e2e.py
  backend/tests/governance/t4/__init__.py
  backend/tests/governance/t4/test_async_job_coordination.py
  backend/tests/governance/t4/test_audit_completeness.py
  backend/tests/governance/t4/test_knowledge_plane_ops.py
  backend/tests/governance/t4/test_policy_gate_dominance.py
  backend/tests/governance/t4/test_sdk_facade.py
  backend/tests/governance/t4/test_single_entry_enforcement.py
  docs/architecture/hoc/KNOWLEDGE_PLANE_CONTRACTS_V1.md
  docs/architecture/hoc/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_PLAN_V2.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-539-knowledge-plane-phase6-policy-gate-and-sql-connector.md
  docs/memory-pins/PIN-540-knowledge-plane-transition-operation.md
  docs/memory-pins/PIN-541-knowledge-plane-config-ops-and-legacy-ssot-removal.md
  literature/hoc_spine/KNOWLEDGE_PLANE_LIFECYCLE_HARNESS_LITERATURE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): domain linkage fixes, run-scoped governance, run impact writers (PIN-546)
  backend/alembic/versions/124_prevention_records_run_id.py
  backend/app/hoc/cus/activity/L6_drivers/run_metrics_driver.py
  backend/app/hoc/cus/activity/L6_drivers/run_signal_driver.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/incidents_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/logs_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/policies_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/run_evidence_coordinator.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/policies_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/run_governance_handler.py
  backend/app/hoc/cus/incidents/L5_engines/incident_engine.py
  backend/app/hoc/cus/incidents/L5_engines/incident_write_engine.py
  backend/app/hoc/cus/incidents/L6_drivers/export_bundle_driver.py
  backend/app/hoc/cus/incidents/L6_drivers/incident_run_read_driver.py
  backend/app/hoc/cus/incidents/L6_drivers/incident_write_driver.py
  backend/app/hoc/cus/incidents/L6_drivers/policy_violation_driver.py
  backend/app/hoc/cus/logs/L5_engines/logs_facade.py
  backend/app/hoc/cus/logs/L6_drivers/export_bundle_store.py
  backend/app/hoc/cus/logs/L6_drivers/logs_domain_store.py
  backend/app/hoc/cus/policies/L6_drivers/policy_enforcement_driver.py
  backend/app/hoc/cus/policies/L6_drivers/policy_enforcement_write_driver.py
  backend/app/hoc/cus/policies/L6_drivers/prevention_records_read_driver.py
  backend/app/models/killswitch.py
  backend/app/models/policy_control_plane.py
  backend/tests/test_run_introspection_coordinators.py
  docs/architecture/hoc/domain_linkage_plan_v1.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-412-domain-design-incidents-policies.md
  docs/memory-pins/PIN-542-local-db-migration-issues-fixes.md
  docs/memory-pins/PIN-543-alembic-migration-audit-docs-generated.md
  docs/memory-pins/PIN-544-alembic-stamp-fix-two-path-ci-guard.md
  docs/memory-pins/PIN-545-guardrail-violations-data-001-limits-001-analysis.md
  docs/memory-pins/PIN-546-run-linkage-governance-log-scoping.md
  literature/hoc_domain/activity/ACTIVITY_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/activity/SOFTWARE_BIBLE.md
  literature/hoc_domain/incidents/INCIDENT_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/incidents/SOFTWARE_BIBLE.md
  literature/hoc_domain/logs/LOGS_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/logs/SOFTWARE_BIBLE.md
  literature/hoc_domain/policies/POLICIES_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/policies/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(db): local DB equivalence rebuild, migration 115 sdsr_incidents guard, import cleanups (PIN-547)
  backend/alembic/versions/115_add_inflection_point_metadata.py
  backend/app/adapters/founder_contract_review_adapter.py
  backend/app/hoc/api/fdr/agent/founder_contract_review.py
  backend/app/hoc/cus/hoc_spine/authority/contracts/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/governance_orchestrator.py
  backend/app/hoc/cus/logs/L5_engines/audit_ledger_engine.py
  backend/app/hoc/fdr/ops/engines/founder_review.py
  backend/app/hoc/fdr/ops/facades/founder_review_adapter.py
  backend/app/quarantine/founder_review.py
  backend/app/quarantine/founder_review_adapter.py
  backend/tests/architecture/test_layer_boundaries.py
  backend/tests/governance/test_founder_review_invariants.py
  docs/architecture/hoc/domain_linkage_plan_v2.md
  docs/architecture/hoc/domain_linkage_plan_v2_implemented.md
  docs/architecture/hoc/domain_linkage_plan_v3.md
  docs/architecture/hoc/local_db_equivalence_v1.md
  docs/architecture/hoc/local_db_equivalence_v1_implemented.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-547-domain-linkage-test-results-issues.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(db): sync local DB with Neon — 5 missing schemas replicated (PIN-548)
  docs/architecture/hoc/local_db_equivalence_v1.md
  docs/architecture/hoc/local_db_equivalence_v1_implemented.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-548-local-db-neon-equivalence-schema-sync-complete.md
Due: none

fix(uat): clear reality-audit findings — scoped typecheck, Playwright determinism, gate corrections
  backend/app/hoc/docs/architecture/usecases/APP_SHELL_TS_DEBT_INVENTORY_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/INDEX.md
  backend/app/hoc/docs/architecture/usecases/UC_CODEBASE_ELICITATION_VALIDATION_UAT_REALITY_AUDIT_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/UC_CODEBASE_ELICITATION_VALIDATION_UAT_REALITY_AUDIT_ADDENDUM_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/UC_CODEBASE_ELICITATION_VALIDATION_UAT_SIGNOFF_2026-02-15_v2.md
  backend/app/hoc/docs/architecture/usecases/UC_UAT_FINDINGS_CLEARANCE_DETOUR_IMPLEMENTED_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/UC_UAT_FINDINGS_CLEARANCE_DETOUR_PLAN_2026-02-15.md
  backend/scripts/ops/hoc_uc_validation_uat_gate.sh
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-564-uc-codebase-elicitation-validation-uat-taskpack-full-execution.md
  website/app-shell/package-lock.json
  website/app-shell/package.json
  website/app-shell/tests/bit/bit.spec.ts
  website/app-shell/tests/uat/playwright.config.ts
  website/app-shell/tests/uat/uc-uat.spec.ts
  website/app-shell/tsconfig.uat.json
Due: none

feat(skills): add lazy-load registry and intent mapping
  config/intent_skill_map.json
  docs/SKILLS_REGISTRY.md
  project_aware_agenticverz2.md
  scripts/ops/generate_skills_registry.py
Due: preflight-routes, api-endpoint-check

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
