Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

preflight-routes:
  name: Preflight Route Check
  entry: python scripts/ops/preflight.py --routes
  language: python
  pass_filenames: false
  stages:
  - pre-commit

sqlmodel-patterns:
  name: SQLModel Pattern Linter (Staged)
  entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
  language: python
  pass_filenames: true

api-endpoint-check:
  name: API Endpoint Wiring Check
  entry: python scripts/ops/check_api_wiring.py
  language: python
  pass_filenames: false

feat(stagetest): implement HOC API evidence console — W0-W6 complete, deployed to stagetest.agenticverz.com
  backend/app/hoc/api/facades/fdr/ops.py
  backend/app/hoc/api/fdr/ops/stagetest.py
  backend/app/hoc/docs/architecture/usecases/HOC_USECASE_CODE_LINKAGE.md
  backend/app/hoc/docs/architecture/usecases/INDEX.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_PLAN_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_PLAN_2026-02-15_v2.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_TASKPACK_FOR_CLAUDE_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_TASKPACK_FOR_CLAUDE_2026-02-15_implemented.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_SUBDOMAIN_DEPLOY_PLAN_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/stagetest_artifact_schema.json
  backend/app/hoc/fdr/ops/engines/stagetest_read_engine.py
  backend/app/hoc/fdr/ops/schemas/stagetest.py
  backend/scripts/verification/stagetest_artifact_check.py
  backend/scripts/verification/stagetest_route_prefix_guard.py
  backend/tests/api/test_stagetest_read_api.py
  backend/tests/governance/t4/test_stagetest_route_prefix_guard.py
  backend/tests/uat/conftest.py
  backend/tests/uat/stagetest_artifacts.py
  website/app-shell/src/features/stagetest/StagetestCaseDetail.tsx
  website/app-shell/src/features/stagetest/StagetestCaseTable.tsx
  website/app-shell/src/features/stagetest/StagetestPage.tsx
  website/app-shell/src/features/stagetest/StagetestRunList.tsx
  website/app-shell/src/features/stagetest/stagetestClient.ts
  website/app-shell/src/routes/index.tsx
  website/app-shell/tests/uat/fixtures/stagetest-runs.json
  website/app-shell/tests/uat/stagetest.spec.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(stagetest): V2+V3 taskpack — full metadata coverage, api_calls_used, deterministic gate, auth bypass (PIN-570)
  backend/app/hoc/api/fdr/ops/stagetest.py
  backend/app/hoc/cus/hoc_spine/authority/gateway_policy.py
  backend/app/hoc/cus/hoc_spine/authority/rbac_policy.py
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_TASKPACK_FOR_CLAUDE_2026-02-15_v2.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_TASKPACK_FOR_CLAUDE_2026-02-15_v2_implemented.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_V3_MICRO_TASKPACK_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_V3_MICRO_TASKPACK_2026-02-15_implemented.md
  backend/app/hoc/docs/architecture/usecases/evidence_stagetest_hoc_api_v3_2026_02_15/v3_live_auth_case_detail.json
  backend/app/hoc/docs/architecture/usecases/evidence_stagetest_hoc_api_v3_2026_02_15/v3_live_auth_runs.json
  backend/app/hoc/docs/architecture/usecases/evidence_stagetest_hoc_api_v3_2026_02_15/v3_live_ui_case_detail.txt
  backend/app/hoc/fdr/ops/engines/stagetest_read_engine.py
  backend/app/hoc/fdr/ops/schemas/stagetest.py
  backend/scripts/ops/hoc_uc_validation_uat_gate.sh
  backend/scripts/verification/stagetest_artifact_check.py
  backend/scripts/verification/stagetest_route_prefix_guard.py
  backend/tests/api/test_stagetest_runtime_api.py
  backend/tests/uat/conftest.py
  backend/tests/uat/stagetest_artifacts.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-568-stage-1112-taskpack-execution-1414-pass-292-checks-3-findings-remediated.md
  docs/memory-pins/PIN-569-pin-569-stagetest-hoc-api-evidence-console-w0-w6-complete-deployed-to-stagetestagenticverzcom.md
  docs/memory-pins/PIN-570-stagetest-auth-bypass-temporary.md
  website/app-shell/src/features/stagetest/StagetestCaseDetail.tsx
  website/app-shell/src/features/stagetest/StagetestPage.tsx
  website/app-shell/src/features/stagetest/stagetestClient.ts
  website/app-shell/src/routes/index.tsx
  website/app-shell/tests/uat/fixtures/stagetest-runs.json
  website/app-shell/tests/uat/stagetest.spec.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(stagetest): remediate 4 audit findings — guard, collision, schema, report
  backend/app/hoc/docs/architecture/usecases/STAGETEST_HOC_API_EVIDENCE_CONSOLE_V3_MICRO_TASKPACK_2026-02-15_implemented.md
  backend/app/hoc/docs/architecture/usecases/stagetest_artifact_schema.json
  backend/scripts/verification/stagetest_route_prefix_guard.py
  backend/tests/uat/conftest.py
  docker-compose.yml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(stagetest): execute UC staged testpack + trace-cert V2 rerun — 51 cases, 519 assertions, 4/4 governance gates
  .validator_status.json
  backend/app/hoc/docs/architecture/usecases/STAGETEST_EXECUTION_TRACE_DB_WRITES_WIRING_2026-02-15_implemented.md
  backend/app/hoc/docs/architecture/usecases/STAGETEST_SYNTHETIC_WRITE_PATH_MICROPACK_2026-02-15_implemented.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_2026_02_15.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_2026_02_15_executed.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_2026_02_15_synthetic_inputs.json
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V2_2026_02_15.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V2_2026_02_15_executed.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V2_2026_02_15_executed_summary.json
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V2_2026_02_15_executed_summary.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V2_2026_02_15_synthetic_inputs.json
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V3_2026_02_15.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V3_2026_02_15_executed.md
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_STAGED_TESTPACK_TRACE_CERT_V3_2026_02_15_synthetic_inputs.json
  backend/app/hoc/docs/architecture/usecases/UC_ALL_USECASE_TRACE_CERT_RERUN_TASKPACK_FOR_CLAUDE_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/UC_STAGE11_STAGE12_DETAILED_TASKPACK_FOR_CLAUDE_2026_02_15_executed_summary.json
  backend/app/hoc/docs/architecture/usecases/UC_STAGE11_STAGE12_DETAILED_TASKPACK_FOR_CLAUDE_2026_02_15_executed_summary.md
  backend/app/hoc/docs/architecture/usecases/UC_TRACE_CERT_BLOCK_LIFT_ANALYSIS_2026-02-15.md
  backend/app/hoc/docs/architecture/usecases/stagetest_artifact_schema.json
  backend/app/hoc/fdr/ops/schemas/stagetest.py
  backend/scripts/verification/stagetest_artifact_check.py
  backend/tests/api/test_stagetest_runtime_api.py
  backend/tests/test_activity_facade_introspection.py
  backend/tests/uat/conftest.py
  backend/tests/uat/stagetest_artifacts.py
  backend/tests/uat/stagetest_trace_capture.py
  backend/tests/uat/test_uc002_onboarding_flow.py
  docs/memory-pins/PIN-571-stagetest-synthetic-write-path-trace-db-coverage.md
  website/app-shell/src/features/stagetest/StagetestCaseDetail.tsx
  website/app-shell/src/features/stagetest/stagetestClient.ts
  website/app-shell/tests/uat/fixtures/stagetest-runs.json
  website/app-shell/tests/uat/stagetest.spec.ts
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hoc: harden PR1 runs facade contract and record evidence
  backend/app/hoc/api/cus/activity/runs_facade.py
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_runs_facade_pr1.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-577-runs-facade-contract-drift-fix-determinism.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hoc: add PR2 incidents list facade with contract and frontend links
  backend/app/hoc/api/cus/incidents/incidents_public.py
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_incidents_public_facade_pr2.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_2026-02-16.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-578-incidents-list-facade-pr2-contract-hardening.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(ba): policies domain delta runtime correctness iteration (POL-DELTA-01..06)
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/POLICIES_DOMAIN_DELTA_GAP_MATRIX_2026_02_16.md
  backend/tests/failure_injection/test_driver_fault_safety.py
  backend/tests/governance/t5/test_policies_runtime_delta.py
  backend/tests/property/test_policies_threshold_properties.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(ba): incidents + tenant domain delta runtime correctness iterations (INC-DELTA-01..06, TEN-DELTA-01..06)
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/INCIDENTS_DOMAIN_DELTA_GAP_MATRIX_2026_02_16.md
  backend/app/hoc/docs/architecture/usecases/TENANT_DOMAIN_DELTA_GAP_MATRIX_2026_02_16.md
  backend/mutants/tests/fixtures/replay/golden_deny_case.json
  backend/mutants/tests/fixtures/replay/golden_no_drift.json
  backend/mutants/tests/fixtures/replay/replay_003_tenant_delete.json
  backend/tests/failure_injection/test_driver_fault_safety.py
  backend/tests/fixtures/replay/replay_003_tenant_delete.json
  backend/tests/governance/t5/test_incidents_runtime_delta.py
  backend/tests/governance/t5/test_tenant_runtime_delta.py
  backend/tests/property/test_tenant_lifecycle_properties.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(account): add PR-10 users list facade contract slice
  backend/app/hoc/api/cus/account/account_public.py
  backend/app/hoc/cus/account/L6_drivers/accounts_facade_driver.py
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_account_public_facade_pr10.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_PR7_PR8_PR9_PR10_2026-02-16.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-588-account-users-list-facade-pr10-contract-hardening.md
  literature/hoc_domain/account/DOMAIN_CAPABILITY.md
  literature/hoc_domain/account/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(ba): controls domain delta runtime correctness iteration (CTRL-DELTA-01..06)
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/docs/architecture/usecases/CONTROLS_DOMAIN_DELTA_GAP_MATRIX_2026_02_16.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/mutants/tests/failure_injection/test_driver_fault_safety.py
  backend/mutants/tests/governance/t5/test_controls_runtime_delta.py
  backend/mutants/tests/property/test_controls_threshold_properties.py
  backend/tests/governance/t5/test_controls_runtime_delta.py
  backend/tests/property/test_controls_threshold_properties.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

backend: harden PR1 runs fixture gating
  backend/app/hoc/api/cus/activity/runs_facade.py
  backend/tests/api/test_runs_facade_pr1.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

frontend: add /page domain scaffold surfaces
  website/app-shell/src/features/scaffold/ScaffoldCatalogPage.tsx
  website/app-shell/src/features/scaffold/ScaffoldSlicePage.tsx
  website/app-shell/src/features/scaffold/scaffoldCatalog.ts
  website/app-shell/src/routes/index.tsx
  website/app-shell/src/routing/RouteGuardAssertion.tsx
Due: none

ops/docs: add PR1 scaffold controls and evidence
  design/auth/RBAC_RULES.yaml
  docker-compose.yml
  docs/architecture/frontend/slices/INDEX.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_ACCEPTANCE_MATRIX.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_EXECUTION.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_FINDINGS_LEDGER.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_IMPLEMENTATION_REPORT.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_ACCEPTANCE_MATRIX.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_EXECUTION.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_FINDINGS_LEDGER.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_IMPLEMENTATION_REPORT.md
Due: none

docs: kick off PR2 runs real-data auth rollout plan
  docs/architecture/frontend/PR2_RUNS_REALDATA_AUTH_ROLLOUT_PLAN_2026-02-18.md
Due: none

pr2: retire runs scaffold bypasses and record PIN-575
  design/auth/RBAC_RULES.yaml
  docker-compose.yml
  docs/architecture/frontend/PR2_RUNS_REALDATA_AUTH_ROLLOUT_PLAN_2026-02-18.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-575-pr2-runs-realdata-auth-rollout-iteration-1.md
  website/app-shell/src/features/scaffold/scaffoldCatalog.ts
Due: none

docs: add PIN-576 pre-deploy auth-path evidence
  docs/architecture/frontend/PR2_RUNS_REALDATA_AUTH_ROLLOUT_PLAN_2026-02-18.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-576-pr2-runs-realdata-auth-rollout-iteration-2-predeploy-evidence.md
Due: none

feat(integrations): INT-DELTA runtime correctness + audit fix for invariant enforcement
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/integrations_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/operation_registry.py
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/INTEGRATIONS_DOMAIN_DELTA_GAP_MATRIX_2026_02_16.md
  backend/tests/failure_injection/test_driver_fault_safety.py
  backend/tests/fixtures/replay/replay_009_integration_disable.json
  backend/tests/governance/t5/test_integrations_runtime_delta.py
  backend/tests/property/test_integrations_lifecycle_properties.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

verification: add PR2 runs post-deploy harness (PIN-577)
  docs/architecture/frontend/PR2_RUNS_POSTDEPLOY_VALIDATION_CHECKLIST_2026-02-18.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-577-pr2-runs-postdeploy-verification-harness.md
  scripts/ops/verify_pr2_runs_auth_rollout.sh
Due: none

docs: add PR2 post-deploy auth enforcement evidence (PIN-578)
  docs/architecture/frontend/PR2_RUNS_POSTDEPLOY_VALIDATION_CHECKLIST_2026-02-18.md
  docs/architecture/frontend/PR2_RUNS_REALDATA_AUTH_ROLLOUT_PLAN_2026-02-18.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-578-pr2-runs-postdeploy-auth-enforcement-evidence.md
Due: none

auth: close PR2 runs auth rollout and record remediation evidence
  backend/app/db.py
  backend/app/hoc/cus/hoc_spine/authority/gateway_policy.py
  backend/app/hoc/docs/architecture/usecases/PR2_AUTH_CLOSURE_EVIDENCE.md
  design/auth/RBAC_RULES.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore: restore non-executable modes for PR2 auth files
  backend/app/db.py
  backend/app/hoc/cus/hoc_spine/authority/gateway_policy.py
  backend/app/hoc/docs/architecture/usecases/PR2_AUTH_CLOSURE_EVIDENCE.md
  design/auth/RBAC_RULES.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(hoc): recover PR2 incidents list facade slice from main baseline
  backend/app/hoc/api/cus/incidents/incidents_public.py
  backend/app/hoc/api/facades/cus/incidents.py
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR2_INCIDENTS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_incidents_public_facade_pr2.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(env): declare DB_AUTHORITY in .env.example (DB-AUTH-001)
  .env.example
Due: none

ci: enforce DB_AUTHORITY for SQLModel linter entrypoints
  .github/workflows/sqlmodel-patterns.yml
  .pre-commit-config.yaml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_SQLMODEL_DB_AUTH_REMEDIATION_2026-02-20.md
  docs/PREVENTION_PLAYBOOK.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/ops/ci_consistency_check.sh
Due: none

ci: grandfather legacy alembic revision-length debt in preflight
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_ALEMBIC_REVISION_POLICY_REMEDIATION_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/ops/ci_consistency_check.sh
Due: none

ci: harden truth preflight backend readiness and diagnostics
  .github/workflows/truth-preflight.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_TRUTH_PREFLIGHT_READINESS_REMEDIATION_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/verification/truth_preflight.sh
Due: none

ci: replace host-bound docs symlinks with repo-relative targets
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_ABSOLUTE_SYMLINK_REMEDIATION_2026-02-20.md
  docs/architecture/hoc/DOMAIN_TRUTH_MAP.csv
  docs/architecture/hoc/DOMAIN_TRUTH_MAP.md
  docs/architecture/hoc/L2_L4_CALL_MAP.csv
  docs/architecture/hoc/L2_ROUTER_INVENTORY.md
  literature/hoc_domain/docs/SOFTWARE_BIBLE.md
Due: none

ci: realign env-misuse guard baseline to measured debt
  .github/workflows/ci.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_ENV_MISUSE_GUARD_BASELINE_REALIGNMENT_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

ci: stabilize db-authority guard baseline and lit output formatting
  .github/workflows/db-authority-guard.yml
  .github/workflows/integration-integrity.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_DB_GUARD_AND_INTEGRATION_OUTPUT_REMEDIATION_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

ci: tighten DB guard dual-pattern signal and scope
  .github/workflows/db-authority-guard.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_DB_AUTH_DUAL_PATTERN_SCOPE_REMEDIATION_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

ci: remediate SQL guard, priority5 paths, skill tests, and DB role gate
  .github/workflows/ci.yml
  backend/app/hoc/cus/integrations/cus_cli.py
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_SQL_INTENT_UNIT_MIGRATION_REMEDIATION_2026-02-20.md
  backend/app/hoc/int/agent/drivers/json_transform_stub.py
  backend/app/hoc/int/agent/drivers/registry_v2.py
  backend/app/hoc/int/agent/engines/http_call_stub.py
  backend/app/hoc/int/agent/engines/llm_invoke_stub.py
  backend/app/skills/registry_v2.py
  backend/scripts/ci/check_priority5_intent.py
  backend/tests/skills/test_registry_load.py
  backend/tests/skills/test_registry_v2.py
  backend/tests/skills/test_stub_replay.py
  backend/tests/skills/test_stubs.py
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

ci: harden signal_feedback migration for legacy schema collision
  backend/alembic/versions/128_monitoring_activity_feedback_contracts.py
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_SQL_INTENT_UNIT_MIGRATION_REMEDIATION_2026-02-20.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

ci: apply skeptical remediation pass and document residual governance blockers
  .github/workflows/c1-telemetry-guard.yml
  .github/workflows/c2-regression.yml
  .github/workflows/integration-integrity.yml
  .github/workflows/truth-preflight.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_SQL_INTENT_UNIT_MIGRATION_REMEDIATION_2026-02-20.md
  backend/tests/workflow/test_replay_certification.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-579-ws-a-ci-baseline-pr2-auth-closure-remediation-snapshot.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/ops/lint_sqlmodel_patterns.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

governance: scope blockers to hoc and tombstone non-hoc legacy debt
  .github/workflows/capability-registry.yml
  .github/workflows/import-hygiene.yml
  .github/workflows/layer-segregation.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_COURSE_CORRECTION_PLAN_2026-02-20.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-592-hoc-only-governance-scope-and-non-hoc-tombstone-ledger.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/ops/layer_segregation_guard.py
Due: preflight-routes, api-endpoint-check

docs: enumerate hoc blocker file sets in tombstone ledger
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
Due: none

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
