Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

preflight-routes:
  name: Preflight Route Check
  entry: python scripts/ops/preflight.py --routes
  language: python
  pass_filenames: false
  stages:
  - pre-commit

sqlmodel-patterns:
  name: SQLModel Pattern Linter (Staged)
  entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
  language: python
  pass_filenames: true

api-endpoint-check:
  name: API Endpoint Wiring Check
  entry: python scripts/ops/check_api_wiring.py
  language: python
  pass_filenames: false

PIN-411: Complete pre-production checklist - all 25 panels done
  backend/alembic/versions/101_lessons_source_event_id_varchar.py
  backend/alembic/versions/102_lessons_source_run_id_varchar.py
  backend/app/api/policies.py
  backend/scripts/ops/backfill_lessons_from_incidents.py
  docs/architecture/policies/POLICIES_DOMAIN_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Analytics Domain Declaration v1: Unified facade with Usage topic
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.usage.yaml
  backend/app/api/analytics.py
  backend/app/main.py
  docs/architecture/analytics/ANALYTICS_DOMAIN_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Analytics Domain Declaration v1: Hard commit - visible console domain with export
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.usage.export.csv.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.usage.export.json.yaml
  backend/app/api/analytics.py
  design/l2_1/ui_contract/ui_projection_lock.json
  docs/api/analytics_openapi_v1.yaml
  docs/architecture/analytics/ANALYTICS_DOMAIN_AUDIT.md
  docs/architecture/analytics/SIGNAL_RECONCILIATION_RULES_V1.md
  website/app-shell/public/projection/ui_projection_lock.json
  website/app-shell/src/components/layout/ProjectionSidebar.tsx
  website/app-shell/src/contracts/ui_projection_types.ts
  website/app-shell/src/pages/analytics/UsagePage.tsx
  website/app-shell/src/pages/domains/DomainPage.tsx
  website/app-shell/src/routes/index.tsx
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Analytics Cost Wiring: Wire cost_records to Analytics Statistics facade
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.cost.export.csv.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.cost.export.json.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_analytics.cost.yaml
  backend/app/api/analytics.py
  docs/api/analytics_openapi_v1.yaml
  docs/architecture/analytics/ANALYTICS_DOMAIN_AUDIT.md
  website/app-shell/src/pages/analytics/CostPage.tsx
  website/app-shell/src/routes/index.tsx
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Analytics Domain: E2E verification, constitution, and API key governance
  docs/architecture/analytics/ANALYTICS_DOMAIN_AUDIT.md
  docs/contracts/ANALYTICS_DOMAIN_CONSTITUTION.md
  docs/governance/API_KEY_GOVERNANCE.md
Due: none

Cross-Domain Governance: Mandatory governance for cost anomalies
  backend/app/api/cost_intelligence.py
  backend/app/errors/__init__.py
  backend/app/errors/governance.py
  backend/app/integrations/cost_bridges.py
  backend/app/integrations/cost_safety_rails.py
  backend/app/metrics.py
  backend/app/services/cost_anomaly_detector.py
  backend/app/services/governance/__init__.py
  backend/app/services/governance/cross_domain.py
  backend/scripts/ci/check_dispatcher_pattern.sh
  backend/tests/test_m26_prevention.py
  backend/tests/test_m27_cost_loop.py
  design/CROSS_DOMAIN_GOVERNANCE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix: Add missing closing parenthesis in v1_killswitch.py
  backend/app/api/v1_killswitch.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore: Declare linting debt as deferred, lock ruff to no-new-violations
  backend/pyproject.toml
  docs/governance/LINTING_TECHNICAL_DEBT.md
  pyproject.toml
  sdk/python/pyproject.toml
Due: none

docs: Add PIN-438 linting technical debt declaration
  CLAUDE.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-438-linting-technical-debt-declaration.md
Due: none

feat: Complete Customer LLM Integrations (P1-P6) + Evidence-Observability Linking
  backend/alembic/versions/103_cus_integrations.py
  backend/app/api/cus_enforcement.py
  backend/app/api/cus_integrations.py
  backend/app/api/cus_telemetry.py
  backend/app/main.py
  backend/app/metrics.py
  backend/app/models/cus_models.py
  backend/app/schemas/cus_schemas.py
  backend/app/services/cus_credential_service.py
  backend/app/services/cus_enforcement_service.py
  backend/app/services/cus_health_service.py
  backend/app/services/cus_integration_service.py
  backend/app/services/cus_telemetry_service.py
  backend/cli/cus_health_check.py
  backend/scripts/cus_usage_aggregator.py
  docs/architecture/CUSTOMER_INTEGRATIONS_ARCHITECTURE.md
  docs/architecture/CUSTOMER_INTEGRATIONS_IMPLEMENTATION_PLAN.md
  docs/architecture/connectivity/CONNECTIVITY_DOMAIN_AUDIT.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-439-customer-llm-integrations-complete.md
  monitoring/grafana/provisioning/dashboards/files/cus_llm_observability_dashboard.json
  monitoring/rules/cus_integration_alerts.yml
  sdk/python/aos_sdk/__init__.py
  sdk/python/aos_sdk/cus_anthropic.py
  sdk/python/aos_sdk/cus_base.py
  sdk/python/aos_sdk/cus_cost.py
  sdk/python/aos_sdk/cus_enforcer.py
  sdk/python/aos_sdk/cus_middleware.py
  sdk/python/aos_sdk/cus_openai.py
  sdk/python/aos_sdk/cus_reporter.py
  sdk/python/aos_sdk/cus_token_counter.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat: Add Customer Sandbox Authentication Mode (PIN-440)
  backend/app/auth/customer_sandbox.py
  backend/app/auth/gateway_middleware.py
  backend/scripts/seed_sandbox_data.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-440-customer-sandbox-auth-mode.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(security): PIN-443 OpenAPI observability + Customer Sandbox hardening
  backend/app/auth/customer_sandbox.py
  backend/app/main.py
  backend/app/middleware/slow_requests.py
  docker-compose.yml
  docs/architecture/PIN-443-OPENAPI-OBSERVABILITY.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(accounts): Complete Account domain implementation
  CLAUDE.md
  backend/alembic/versions/ce967f70c95d_invitations_and_support_tickets.py
  backend/app/api/accounts.py
  backend/app/models/tenant.py
  docs/architecture/ENVIRONMENT_CONTRACT.md
  docs/architecture/accounts/ACCOUNTS_ARCHITECTURE.md
  docs/architecture/accounts/ACCOUNTS_SECTION_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(activity): Wire threshold signals to Customer Console
  backend/app/api/activity.py
  backend/app/services/activity/__init__.py
  backend/app/services/activity/run_signal_service.py
  backend/app/services/event_emitter.py
  backend/app/services/incident_engine.py
  backend/app/services/llm_threshold_service.py
  backend/app/worker/runner.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(activity): wire ACT-LLM-LIVE-O2 and ACT-LLM-COMP-O3 panel gaps
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_activity.risk_signals.yaml
  backend/AURORA_L2_CAPABILITY_REGISTRY/AURORA_L2_CAPABILITY_activity.summary_by_status.yaml
  design/l2_1/INTENT_LEDGER.md
  design/l2_1/intents/AURORA_L2_INTENT_ACT-LLM-COMP-O3.yaml
  design/l2_1/intents/AURORA_L2_INTENT_ACT-LLM-LIVE-O2.yaml
  docs/architecture/activity/ACTIVITY_DOMAIN_CONTRACT.md
Due: none

docs: add PIN-443 for Activity domain panel gap fixes
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-443-activity-domain-panel-gap-fixes-act-llm-live-o2-act-llm-comp-o3.md
Due: none

feat(sdsr): add attribution compliance for inject_synthetic.py
  backend/scripts/sdsr/inject_synthetic.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: update PIN-443 with SDSR attribution compliance
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-440-customer-sandbox-auth-mode.md
  docs/memory-pins/PIN-441-policies-domain-sdsr-fixes.md
  docs/memory-pins/PIN-442-policy-facade-api001-compliance.md
  docs/memory-pins/PIN-443-activity-domain-panel-gap-fixes-act-llm-live-o2-act-llm-comp-o3.md
Due: none

docs: add TEST_METHODS.md design document
  docs/design/TEST_METHODS.md
Due: none

docs: add PIN-444 for Test Methods design document
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-444-test-methods-design-document.md
Due: none

feat(activity): implement Attention Feedback Loop for signal ack/suppress
  backend/app/api/activity.py
  backend/app/models/audit_ledger.py
  backend/app/services/activity/__init__.py
  backend/app/services/activity/attention_ranking_service.py
  backend/app/services/activity/signal_feedback_service.py
  backend/app/services/activity/signal_identity.py
  backend/app/services/logs/audit_ledger_service.py
  backend/scripts/sdsr/scenarios/SDSR-ACT-V2-SIGNAL-ACK-001.yaml
  backend/scripts/sdsr/scenarios/SDSR-ACT-V2-SIGNAL-SUPPRESS-001.yaml
  docs/architecture/activity/ACTIVITY_DOMAIN_CONTRACT.md
  docs/architecture/activity/ATTENTION_FEEDBACK_LOOP.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-446-attention-feedback-loop-implementation.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

test(audit): add destructive test for worker crash stale detection
  backend/tests/destructive/test_worker_crash_stale_detection.py
  docs/architecture/CROSS_DOMAIN_ORCHESTRATION_AUDIT.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(governance): add profile abstraction and mental model docs
  backend/app/services/governance/profile.py
  docs/architecture/CROSS_DOMAIN_ORCHESTRATION_AUDIT.md
  docs/architecture/GOVERNANCE_MENTAL_MODEL.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(startup): wire governance profile validation into main.py
  backend/app/main.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add DOMAINS_E2E_SCAFFOLD_V3 architecture document
  docs/architecture/DOMAINS_E2E_SCAFFOLD_V3.md
Due: none

docs: add numbered Gap Ledger (GAP-001 to GAP-030)
  docs/architecture/DOMAINS_E2E_SCAFFOLD_V3.md
Due: none

test(governance): fix T0 unit tests to match actual implementations
  backend/tests/governance/t0/__init__.py
  backend/tests/governance/t0/test_binding_moment_enforcer.py
  backend/tests/governance/t0/test_boot_guard.py
  backend/tests/governance/t0/test_conflict_resolver.py
  backend/tests/governance/t0/test_connectors.py
  backend/tests/governance/t0/test_degraded_mode.py
  backend/tests/governance/t0/test_enforcement_guard.py
  backend/tests/governance/t0/test_failure_mode_handler.py
  backend/tests/governance/t0/test_kill_switch.py
  backend/tests/governance/t0/test_reactor_initializer.py
  backend/tests/governance/t0/test_retrieval_mediator.py
  backend/tests/governance/t0/test_skill_registry_filter.py
  backend/tests/governance/t0/test_step_enforcement.py
  docs/architecture/GAP_IMPLEMENTATION_PLAN_V1.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(hoc): comprehensive customer domain audit - datetime.utcnow deprecation fix
  backend/app/houseofcards/customer/account/HOC_account_detailed_audit_report.md
  backend/app/houseofcards/customer/account/engines/identity_resolver.py
  backend/app/houseofcards/customer/account/engines/tenant_service.py
  backend/app/houseofcards/customer/account/engines/user_write_service.py
  backend/app/houseofcards/customer/activity/HOC_activity_deep_audit_report.md
  backend/app/houseofcards/customer/activity/engines/attention_ranking_service.py
  backend/app/houseofcards/customer/activity/engines/cost_analysis_service.py
  backend/app/houseofcards/customer/activity/engines/pattern_detection_service.py
  backend/app/houseofcards/customer/activity/engines/signal_feedback_service.py
  backend/app/houseofcards/customer/analytics/HOC_analytics_detailed_audit_report.md
  backend/app/houseofcards/customer/analytics/engines/pattern_detection.py
  backend/app/houseofcards/customer/analytics/engines/prediction.py
  backend/app/houseofcards/customer/api_keys/HOC_api_keys_detailed_audit_report.md
  backend/app/houseofcards/customer/general/HOC_general_audit_domain.md
  backend/app/houseofcards/customer/general/HOC_general_deep_audit_report.md
  backend/app/houseofcards/customer/general/utils/__init__.py
  backend/app/houseofcards/customer/general/utils/time.py
  backend/app/houseofcards/customer/incidents/HOC_incidents_deep_audit_report.md
  backend/app/houseofcards/customer/incidents/engines/incident_pattern_service.py
  backend/app/houseofcards/customer/incidents/engines/recurrence_analysis_service.py
  backend/app/houseofcards/customer/integrations/HOC_integrations_detailed_audit_report.md
  backend/app/houseofcards/customer/logs/HOC_logs_detailed_audit_report.md
  backend/app/houseofcards/customer/overview/HOC_overview_detailed_audit_report.md
  backend/app/houseofcards/customer/overview/facades/overview_facade.py
  backend/app/houseofcards/customer/policies/HOC_policies_deep_audit_report.md
  backend/app/houseofcards/customer/policies/HOC_policies_detailed_audit_report.md
  backend/app/houseofcards/customer/policies/controls/engines/runtime_switch.py
  backend/app/houseofcards/customer/policies/engines/policy_proposal.py
  backend/app/houseofcards/customer/policies/engines/validator_service.py
  backend/app/houseofcards/customer/policies/facades/policies_facade.py
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-464-hoc-customer-domain-comprehensive-audit.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: Add HOC Layer Topology V1 architecture document
  docs/architecture/HOC_LAYER_TOPOLOGY_V1.md
  docs/memory-pins/PIN-465-hoc-layer-topology-v1.md
Due: none

docs(hoc): add missing domain lock documents for account, api_keys, integrations
  backend/app/hoc/cus/account/ACCOUNT_DOMAIN_LOCK_FINAL.md
  backend/app/hoc/cus/api_keys/API_KEYS_DOMAIN_LOCK_FINAL.md
  backend/app/hoc/cus/integrations/INTEGRATIONS_DOMAIN_LOCK_FINAL.md
Due: none

feat(tools): add HOC layer inventory generator script + CSV
  docs/architecture/hoc/HOC_LAYER_INVENTORY.csv
  scripts/ops/hoc_layer_inventory.py
Due: preflight-routes, api-endpoint-check

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
