Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

.pre-commit-config.yaml:

# Pre-commit hooks for Agenticverz 2.0
# Install: pip install pre-commit && pre-commit install

repos:
  # Standard Python linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies: [sqlmodel, fastapi, pydantic]
        args: [--ignore-missing-imports, --no-strict-optional]
        files: ^backend/app/

  # Custom SQLModel pattern linting
  # PIN-269: Pre-commit hooks run in STAGED mode (delta validation only)
  - repo: local
    hooks:
      - id: preflight-routes
        name: Preflight Route Check
        entry: python scripts/ops/preflight.py --routes
        language: python
        types: [python]
        pass_filenames: false
        stages: [pre-commit]

      - id: sqlmodel-patterns
        name: SQLModel Pattern Linter (Staged)
        # PIN-269: CHECK_SCOPE=staged enables delta validation
        # - Only checks staged files (pass_filenames: true)
        # - Skips CI-only rules (DETACH002, SCOPE001, etc.)
        # Full validation runs in CI with CHECK_SCOPE=full
        entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
        language: python
        types: [python]
        pass_filenames: true
        files: ^backend/

      - id: api-endpoint-check
        name: API Endpoint Wiring Check
        entry: python scripts/ops/check_api_wiring.py
        language: python
        types: [python]
        pass_filenames: false

  # Prevent secrets in commits
  # Baseline regeneration: pipx run detect-secrets scan --update .secrets.baseline
  # Audit false positives: pipx run detect-secrets audit .secrets.baseline
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            # Lock files
            package-lock\.json|yarn\.lock|.*\.lock|
            # Config examples and backups
            .*\.baseline|.*\.example|.*\.bak\.\d+|\.env.*|
            # Documentation (may contain example credentials)
            docs/.*|memory-pins/.*|agentiverz_mn/.*|.*\.md$|
            # Test files (contain mock credentials)
            .*test.*\.py|.*conftest\.py|.*_test\.py|
            # SDKs and tools (contain examples)
            sdk/.*|tools/.*|helm/.*|k8s/.*|
            # CI/CD and monitoring
            \.github/.*|monitoring/.*|
            # Scripts (contain test API keys)
            scripts/smoke/.*|scripts/stress/.*|scripts/ops/canary/.*|
            # Website/frontend
            website/.*|node_modules/.*
          )$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

fix(m10): Complete M10 test suite with layer-governed fixes
  backend/tests/test_m10_outbox_e2e.py
  backend/tests/test_m10_production_hardening.py
  backend/tests/test_m10_recovery_chaos.py
  backend/tests/test_m10_recovery_enhanced.py
  docs/memory-pins/PIN-277-m10-test-suite-completion---layer-governed-fixes.md
  migrations/obligations/apply_all.sh
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

feat(infra): Add obligation migration framework
  docs/infra/INFRA_OBLIGATION_REGISTRY.yaml
  docs/infra/INFRA_OBLIGATION_SCHEMA.md
  docs/memory-pins/INDEX.md
  migrations/obligations/M10/001_existing_schema_note.sql
  migrations/obligations/M10/002_outbox_immutability.sql
  migrations/obligations/M10/003_lifecycle_constraints.sql
  migrations/obligations/M10/003_work_queue_transitions.sql
  migrations/obligations/M10/004_dlq_schema.sql
  migrations/obligations/M10/004_views.sql
  migrations/obligations/M10/apply_all.sh
  migrations/obligations/M26/001_schema.sql
  migrations/obligations/M26/002_tables.sql
  migrations/obligations/M26/003_constraints.sql
  migrations/obligations/M26/004_triggers.sql
  migrations/obligations/M26/005_views.sql
  migrations/obligations/PB-S1/001_schema.sql
  migrations/obligations/PB-S1/002_tables.sql
  migrations/obligations/PB-S1/003_constraints.sql
  migrations/obligations/PB-S1/004_triggers.sql
  migrations/obligations/PB-S1/005_views.sql
  migrations/obligations/PB-S2/001_schema.sql
  migrations/obligations/PB-S2/002_tables.sql
  migrations/obligations/PB-S2/003_constraints.sql
  migrations/obligations/PB-S2/004_triggers.sql
  migrations/obligations/PB-S2/005_views.sql
  migrations/obligations/PB-S4/001_schema.sql
  migrations/obligations/PB-S4/002_tables.sql
  migrations/obligations/PB-S4/003_constraints.sql
  migrations/obligations/PB-S4/004_triggers.sql
  migrations/obligations/PB-S4/005_views.sql
  scripts/ci/check_m10_overloads.py
  scripts/ops/check_infra_obligations.py
  scripts/ops/m10_retention_cleanup.py
  scripts/ops/obligation_aging_report.py
Due: preflight-routes, api-endpoint-check

docs(ci): Add intent coverage documentation and validator
  docs/ci/PRIORITY3_INTENT_COVERAGE.md
  scripts/ops/check_intent_violations.py
Due: preflight-routes, api-endpoint-check

docs(architecture): Add declarative architecture extraction
  artifacts/apis/L2_API_INVENTORY.json
  artifacts/architecture/DRIFT_REPORT.json
  artifacts/architecture/DRIFT_REPORT.md
  artifacts/architecture/component_inventory.json
  docs/apis/L2_API_CONTRACT.md
  docs/architecture/ARCH_DECLARATION.md
  docs/architecture/ARCH_GRAPH.md
  docs/architecture/ARCH_SCOPE.yaml
Due: none

docs(pin): Add PIN-278 Architecture Extraction & L2 API Declaration
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-278-architecture-extraction-l2-api-declaration.md
Due: none

Add L2 API domain mapping analysis
  docs/analysis/L2_API_DOMAIN_MAPPING.csv
Due: none

feat(governance): PIN-284 Phase-1 Platform Monitoring System - RATIFIED
  backend/app/adapters/platform_eligibility_adapter.py
  backend/app/api/platform.py
  backend/app/services/platform/__init__.py
  backend/app/services/platform/platform_health_service.py
  backend/tests/invariants/test_platform_health_determinism.py
  docs/governance/BACKEND_STRUCTURE_FREEZE.yaml
  docs/governance/CAPABILITY_LIFECYCLE.yaml
  docs/governance/GOVERNANCE_QUALIFIERS.yaml
  docs/governance/PHASE_1_CLOSURE_NOTE.md
  docs/governance/PLATFORM_HEALTH_CONTRACTS.yaml
  docs/governance/QUALIFIER_EVALUATION.yaml
  docs/memory-pins/PIN-284-l8-l1-platform-monitoring-system---signal-inventory-and-health-service.md
  scripts/ci/backend_structure_guard.py
  scripts/ci/health_lifecycle_coherence_guard.py
  scripts/ci/lifecycle_qualifier_guard.py
  scripts/ops/evaluate_qualifiers.py
  scripts/ops/record_governance_signal.py
  scripts/ops/session_start.sh
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(governance): Implement governance-safe commit discipline
  .pre-commit-config.yaml
  Makefile
  docs/governance/COMMIT_DISCIPLINE.md
  docs/playbooks/SESSION_PLAYBOOK.yaml
Due: none

feat(governance): Part-2 CRM Workflow System - DESIGN RATIFIED
  docs/governance/part2/ELIGIBILITY_RULES.md
  docs/governance/part2/END_TO_END_STATE_MACHINE.md
  docs/governance/part2/FOUNDER_REVIEW_SEMANTICS.md
  docs/governance/part2/GOVERNANCE_AUDIT_MODEL.md
  docs/governance/part2/GOVERNANCE_JOB_MODEL.md
  docs/governance/part2/INDEX.md
  docs/governance/part2/PART2_CLOSURE_CRITERIA.md
  docs/governance/part2/PART2_CLOSURE_NOTE.md
  docs/governance/part2/PART2_CRM_WORKFLOW_CHARTER.md
  docs/governance/part2/SYSTEM_CONTRACT_OBJECT.md
  docs/governance/part2/VALIDATOR_LOGIC.md
Due: none

feat(enforcement): Part-2 static CI guards for closure gates
  docs/governance/part2/ENFORCEMENT_INDEX.md
  scripts/ci/part2_authority_boundary_guard.py
  scripts/ci/part2_design_freeze_guard.py
  scripts/ci/part2_health_supremacy_guard.py
  scripts/ci/part2_workflow_structure_guard.py
Due: preflight-routes, api-endpoint-check

docs(pin): PIN-285 Part-2 CRM Workflow Enforcement
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-285-part-2-crm-workflow-enforcement---static-ci-guards.md
Due: none

feat(enforcement): Part-2 Pass 2 - Bootstrap guards and semantic contracts
  docs/governance/part2/ENFORCEMENT_INDEX.md
  scripts/ci/part2_contract_activation_guard.py
  scripts/ci/part2_job_start_guard.py
  scripts/ci/part2_semantic_contracts.py
Due: preflight-routes, api-endpoint-check

docs: PIN-286 - Part-2 Enforcement Pass 2 completion
  docs/memory-pins/PIN-286-part-2-enforcement-pass-2---bootstrap-and-semantic-guards.md
Due: none

feat(governance): CRM Event Schema (L8) - Part-2 workflow initiator schema
  docs/governance/part2/CRM_EVENT_SCHEMA.md
Due: none

PIN-287: CRM Event Schema - Part-2 Workflow Initiator Schema
  docs/memory-pins/PIN-287-crm-event-schema---part-2-workflow-initiator-schema.md
Due: none

Part-2 Validator Service (L4) - Pure Analysis Implementation
  backend/app/services/governance/__init__.py
  backend/app/services/governance/validator_service.py
  backend/tests/governance/__init__.py
  backend/tests/governance/test_validator_invariants.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PIN-288: Part-2 Validator Service - Pure Analysis Implementation
  docs/memory-pins/PIN-288-part-2-validator-service---pure-analysis-implementation.md
Due: none

Part-2 Eligibility Engine - pure rules implementation
  backend/app/services/governance/__init__.py
  backend/app/services/governance/eligibility_engine.py
  backend/tests/governance/test_eligibility_invariants.py
  docs/memory-pins/PIN-289-part-2-eligibility-engine---pure-rules-implementation.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PIN-290: Non-Mutating Tooling Invariant (Constitutional)
  .pre-commit-config.yaml
  Makefile
  docs/governance/NON_MUTATING_TOOLING_INVARIANT.md
  docs/memory-pins/PIN-290-non-mutating-tooling-invariant.md
  scripts/dev/fix_style.sh
Due: none

Part-2 CRM Workflow Governance System - CLOSED
  backend/app/services/governance/__init__.py
  backend/app/services/governance/audit_service.py
  backend/app/services/governance/contract_service.py
  backend/app/services/governance/governance_orchestrator.py
  backend/app/services/governance/job_executor.py
  backend/app/services/governance/rollout_projection.py
  backend/tests/governance/test_audit_invariants.py
  backend/tests/governance/test_contract_invariants.py
  backend/tests/governance/test_executor_invariants.py
  backend/tests/governance/test_founder_review_invariants.py
  backend/tests/governance/test_orchestrator_invariants.py
  backend/tests/governance/test_rollout_projection_invariants.py
  docs/governance/PART2_CLOSURE_NOTE.md
  docs/memory-pins/PIN-291-part-2-contract-model---first-stateful-governance-component.md
  docs/memory-pins/PIN-292-part-2-governance-services---workflow-orchestration.md
  docs/memory-pins/PIN-293-part-2-founder-review---last-human-authority-gate.md
  docs/memory-pins/PIN-294-part-2-job-executor---machine-execution-layer.md
  docs/memory-pins/PIN-295-part-2-audit-wiring---verification-layer.md
  docs/memory-pins/PIN-296-part-2-rollout-projection---read-only-final-layer.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: acknowledge Part-2 closure procedural violation
  docs/governance/POST_CLOSURE_HYGIENE_NOTE.md
Due: none

feat(governance): add scope diff guard for closure commits
  .pre-commit-config.yaml
  scripts/ops/scope_diff_guard.py
Due: preflight-routes, api-endpoint-check

docs: add PIN-297 Scope Diff Guard - Closure Commit Enforcement
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-297-scope-diff-guard---closure-commit-enforcement.md
Due: none

docs: add Semantic Promotion Gate governance (PIN-300) with L2 intent declarations
  docs/intents/L2_GUARD_INCIDENTS_INTENT.yaml
  docs/intents/L2_INTENT_TEMPLATE.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-298-frontend-constitution-alignment-survey---ground-truth-extraction.md
  docs/memory-pins/PIN-299-tech-debt-clearance---forensic-inventory-governed-actions.md
  docs/memory-pins/PIN-300-semantic-promotion-gate---l2-intent-declaration-requirement.md
Due: none

fix(governance): add docs/intents/ to scope_diff_guard allowed paths
  scripts/ops/scope_diff_guard.py
Due: preflight-routes, api-endpoint-check

docs(PIN-300): add visibility invariant - unapproved intents are L1-invisible
  docs/memory-pins/PIN-300-semantic-promotion-gate---l2-intent-declaration-requirement.md
Due: none

docs(intents): tighten L2_GUARD_INCIDENTS to gold reference standard
  docs/intents/L2_GUARD_INCIDENTS_INTENT.yaml
Due: none

docs(intents): add L2_GUARD_LOGS intent - Tier 1 highest semantic risk
  docs/intents/L2_GUARD_LOGS_INTENT.yaml
Due: none

docs(intents): freeze L2_GUARD_LOGS intent - APPROVED
  docs/intents/L2_GUARD_LOGS_INTENT.yaml
Due: none

Add L2_GUARD_ACTIVITY intent - Tier 1 semantic risk
  docs/intents/L2_GUARD_ACTIVITY_INTENT.yaml
Due: none

Freeze L2_GUARD_ACTIVITY intent - APPROVED
  docs/intents/L2_GUARD_ACTIVITY_INTENT.yaml
Due: none

Freeze L2_GUARD_INCIDENTS intent - GOLD REFERENCE APPROVED
  docs/intents/L2_GUARD_INCIDENTS_INTENT.yaml
Due: none

Add L2_GUARD_POLICIES intent - Tier 2 semantic risk
  docs/intents/L2_GUARD_POLICIES_INTENT.yaml
Due: none

Add PIN-301: L2 Intent Declaration Progress tracking
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-301-l2-intent-declaration-progress---semantic-promotion-gate.md
Due: none

Revise L2_GUARD_POLICIES with interpretation-safe scoping
  docs/intents/L2_GUARD_POLICIES_INTENT.yaml
Due: none

Freeze L2_GUARD_POLICIES intent - Tier-2 surface approved
  docs/intents/L2_GUARD_POLICIES_INTENT.yaml
  docs/memory-pins/PIN-301-l2-intent-declaration-progress---semantic-promotion-gate.md
Due: none

Freeze L2_GUARD_AICONSOLE_KEYS intent - Tier-2 complete
  docs/intents/L2_GUARD_AICONSOLE_KEYS_INTENT.yaml
  docs/memory-pins/PIN-301-l2-intent-declaration-progress---semantic-promotion-gate.md
Due: none

Add PIN-302: Tier-2 Semantic Closure documentation
  docs/memory-pins/PIN-302-tier-2-semantic-closure---policies-and-ai-console-keys.md
Due: none

Link PIN-301 to PIN-302 continuation
  docs/memory-pins/PIN-301-l2-intent-declaration-progress---semantic-promotion-gate.md
Due: none

Add PIN-303: Frontend Constitution Alignment System Survey
  docs/memory-pins/PIN-303-frontend-constitution-alignment-system-survey.md
Due: none
