Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$

feat(hoc): add domain classifier V2 with code block analysis
  backend/app/hoc/cus/_domain_map/shadow_domain_map_v2.csv
  scripts/ops/domain_classifier_v2.py
Due: preflight-routes, api-endpoint-check

feat(hoc): complete V3 manual audit + update DOMAIN_CRITERIA v1.1
  backend/app/hoc/cus/_domain_map/V3_MANUAL_AUDIT_WORKBOOK.md
  docs/architecture/console_domains/DOMAIN_CRITERIA.yaml
Due: none

docs(pin): add PIN-472 V3 Manual Audit Complete
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-472-v3-manual-audit-complete---domain-classification.md
Due: none

docs(hoc): update audit CSV with file name + file path columns
  docs/architecture/hoc/HOC_CUS_DOMAIN_AUDIT.csv
Due: none

refactor(sdk): prefix all aos_sdk source files with aos_sdk_
  .validator_status.json
  docs/design/TEST_METHODS.md
  scripts/e2e_integration.sh
  sdk/python/aos_sdk/__init__.py
  sdk/python/aos_sdk/aos_sdk_attribution.py
  sdk/python/aos_sdk/aos_sdk_cli.py
  sdk/python/aos_sdk/aos_sdk_client.py
  sdk/python/aos_sdk/aos_sdk_cus_anthropic.py
  sdk/python/aos_sdk/aos_sdk_cus_base.py
  sdk/python/aos_sdk/aos_sdk_cus_cost.py
  sdk/python/aos_sdk/aos_sdk_cus_enforcer.py
  sdk/python/aos_sdk/aos_sdk_cus_middleware.py
  sdk/python/aos_sdk/aos_sdk_cus_openai.py
  sdk/python/aos_sdk/aos_sdk_cus_reporter.py
  sdk/python/aos_sdk/aos_sdk_cus_token_counter.py
  sdk/python/aos_sdk/aos_sdk_runtime.py
  sdk/python/aos_sdk/aos_sdk_trace.py
  sdk/python/pyproject.toml
Due: preflight-routes, api-endpoint-check

fix(ci): mark app/api/ and app/services/ as redundant in guardrail precommit
  scripts/ci/guardrail_precommit.py
Due: preflight-routes, api-endpoint-check

docs(hoc): add HOC literature generation plan
  docs/architecture/hoc/literature/HOC_LITERATURE_PLAN.md
Due: none

Add PIN-492: HOC Domain Literature Generator + CSV Matrix
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-492-hoc-domain-literature-generator-csv-matrix.md
Due: none

fix(ops): update account + activity tally scripts for PIN-504
  scripts/ops/hoc_account_tally.py
  scripts/ops/hoc_activity_tally.py
Due: preflight-routes, api-endpoint-check

feat(hoc): PIN-520 Phase 1 — L4 uniformity for L2 API bypass migrations
  .gitignore
  backend/app/hoc/api/cus/analytics/costsim.py
  backend/app/hoc/api/cus/logs/cost_intelligence.py
  backend/app/hoc/api/cus/policies/billing_dependencies.py
  backend/app/hoc/api/cus/policies/workers.py
  backend/app/hoc/api/cus/recovery/recovery_ingest.py
  backend/app/hoc/api/int/agent/main.py
  backend/app/hoc/api/int/policies/billing_gate.py
  backend/app/hoc/cus/analytics/L5_engines/cost_write_engine.py
  backend/app/hoc/cus/controls/L6_drivers/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/__init__.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/account_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/analytics_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/logs_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/coordinators/bridges/policies_bridge.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/account_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/activity_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/incidents_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/policies_handler.py
  backend/scripts/ci/check_init_hygiene.py
  literature/hoc_spine/orchestrator/account_bridge.md
  literature/hoc_spine/orchestrator/analytics_bridge.md
  literature/hoc_spine/orchestrator/policies_bridge.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(hoc): dead code cleanup iteration 1+2 — remove unused imports/vars
  backend/app/hoc/api/cus/policies/policy_proposals.py
  backend/app/hoc/cus/analytics/L5_engines/ai_console_panel_engine.py
  backend/app/hoc/cus/hoc_spine/services/lifecycle_stages_base.py
  backend/app/hoc/cus/incidents/L5_engines/semantic_failures.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_server_engine.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_tool_invocation_engine.py
  backend/app/hoc/cus/logs/L5_engines/panel_response_assembler.py
  backend/app/hoc/cus/logs/L5_engines/pdf_renderer.py
  backend/app/hoc/cus/logs/L5_engines/traces_metrics.py
  backend/app/hoc/cus/policies/L5_engines/policy_mapper.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

Revert "chore(hoc): dead code cleanup iteration 1+2 — remove unused imports/vars"
  backend/app/hoc/api/cus/policies/policy_proposals.py
  backend/app/hoc/cus/analytics/L5_engines/ai_console_panel_engine.py
  backend/app/hoc/cus/hoc_spine/services/lifecycle_stages_base.py
  backend/app/hoc/cus/incidents/L5_engines/semantic_failures.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_server_engine.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_tool_invocation_engine.py
  backend/app/hoc/cus/logs/L5_engines/panel_response_assembler.py
  backend/app/hoc/cus/logs/L5_engines/pdf_renderer.py
  backend/app/hoc/cus/logs/L5_engines/traces_metrics.py
  backend/app/hoc/cus/policies/L5_engines/policy_mapper.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(policies): wire PolicyGraphDriver to engine methods via facade
  backend/app/hoc/cus/policies/L5_engines/policies_facade.py
  backend/app/hoc/cus/policies/L5_engines/policy_graph_engine.py
  literature/hoc_domain/policies/L5_engines/hoc_cus_policies_L5_engines_policies_facade.md
  literature/hoc_domain/policies/L5_engines/hoc_cus_policies_L5_engines_policy_graph_engine.md
  literature/hoc_domain/policies/L6_drivers/hoc_cus_policies_L6_drivers_policy_graph_driver.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(hoc): rewire broken imports in three files (PIN-520)
  backend/app/hoc/cus/analytics/L5_engines/ai_console_panel_engine.py
  backend/app/hoc/cus/hoc_spine/services/lifecycle_stages_base.py
  backend/app/hoc/int/agent/schemas/semantic_failures.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(hoc): rewire 28 unused imports/variables to functional usage
  backend/app/hoc/api/cus/analytics/costsim.py
  backend/app/hoc/api/cus/general/agents.py
  backend/app/hoc/api/cus/policies/policy_proposals.py
  backend/app/hoc/cus/activity/L5_engines/attention_ranking_engine.py
  backend/app/hoc/cus/analytics/L5_engines/v2_adapter_engine.py
  backend/app/hoc/cus/incidents/L5_engines/postmortem_engine.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_server_engine.py
  backend/app/hoc/cus/integrations/L5_engines/mcp_tool_invocation_engine.py
  backend/app/hoc/cus/integrations/L5_engines/prevention_contract.py
  backend/app/hoc/cus/policies/L5_engines/policy_mapper.py
  backend/app/hoc/int/agent/drivers/copy.py
  backend/app/hoc/int/agent/engines/panel_spec_loader.py
  backend/app/hoc/int/agent/engines/semantic_validator.py
  backend/app/hoc/int/analytics/drivers/feature_intent_examples.py
  backend/app/hoc/int/analytics/drivers/transaction_examples.py
  backend/app/hoc/int/analytics/engines/authority.py
  backend/app/hoc/int/general/drivers/invocation_safety.py
  backend/app/hoc/int/general/facades/identity_adapter.py
  backend/app/hoc/int/policies/drivers/strategy.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore(hoc): add vulture whitelist and update literature docs (PIN-520)
  backend/vulture_whitelist.py
  literature/hoc_domain/activity/L5_engines/hoc_cus_activity_L5_engines_attention_ranking_engine.md
  literature/hoc_domain/incidents/L5_engines/hoc_cus_incidents_L5_engines_postmortem_engine.md
  literature/hoc_domain/integrations/L5_engines/hoc_cus_integrations_L5_engines_prevention_contract.md
  literature/hoc_domain/policies/L5_engines/hoc_cus_policies_L5_engines_policy_mapper.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add PIN-521 dead code audit complete (session summary)
  docs/memory-pins/PIN-521-dead-code-audit-complete.md
Due: none

refactor(auth): migrate RBAC engine and identity adapters to HOC account/auth subdomain (PIN-271)
  backend/app/auth/__init__.py
  backend/app/auth/identity_chain.py
  backend/app/hoc/cus/account/auth/L5_engines/__init__.py
  backend/app/hoc/cus/account/auth/L5_engines/identity_adapter.py
  backend/app/hoc/cus/account/auth/L5_engines/rbac_engine.py
  backend/app/hoc/cus/account/auth/L6_drivers/__init__.py
  backend/app/hoc/cus/account/auth/__init__.py
  backend/app/hoc/int/general/engines/identity_chain.py
  backend/app/hoc/int/general/facades/identity_adapter.py
  backend/app/hoc/int/policies/engines/rbac_engine.py
  backend/tests/auth/test_rbac_engine.py
  literature/hoc_domain/account/ACCOUNT_CANONICAL_SOFTWARE_LITERATURE.md
  literature/hoc_domain/account/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add PIN-522 auth subdomain migration complete
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-522-auth-subdomain-migration-complete.md
Due: none

feat(hoc): wire Phase 2 BLOCKING TODOs to HOC canonical implementations
  backend/app/hoc/api/cus/policies/policy.py
  backend/app/hoc/api/cus/policies/workers.py
  backend/app/hoc/cus/_domain_map/V4_DOMAIN_WORKBOOK_CANONICAL_FINAL.md
  backend/app/hoc/cus/account/auth/L5_engines/__init__.py
  backend/app/hoc/cus/account/auth/L5_engines/invocation_safety.py
  backend/app/hoc/cus/hoc_spine/drivers/ledger.py
  backend/app/hoc/cus/policies/L5_engines/governance_facade.py
  backend/app/hoc/cus/policies/L5_engines/policy_driver.py
  backend/app/hoc/cus/policies/L5_engines/policy_mapper.py
  backend/app/hoc/cus/policies/L5_engines/prevention_engine.py
  backend/app/hoc/int/platform/policy/engines/policy_driver.py
  backend/cli/aos.py
  backend/tests/auth/test_invocation_safety.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add PIN-523 Phase 2 BLOCKING TODO wiring complete
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-523-pin-523-phase-2-blocking-todo-wiring-complete.md
Due: none

refactor(hoc): Phase 3 - rewire legacy runtime imports to HOC canonical paths
  backend/app/hoc/api/cus/policies/guard.py
  backend/app/hoc/cus/_domain_map/V4_DOMAIN_WORKBOOK_CANONICAL_FINAL.md
  backend/app/hoc/cus/policies/L5_engines/prevention_engine.py
  backend/app/hoc/cus/policies/L5_engines/prevention_hook.py
  backend/app/hoc/int/general/drivers/step_enforcement.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add PIN-524 Phase 3 legacy import deprecation complete
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-524-pin-524-phase-3-legacy-import-deprecation-complete.md
Due: none

feat(hoc): add PolicyEnforcementWriteDriver for recording enforcement outcomes
  backend/app/hoc/cus/policies/L6_drivers/__init__.py
  backend/app/hoc/cus/policies/L6_drivers/policy_enforcement_write_driver.py
  backend/app/hoc/int/general/drivers/step_enforcement.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: add PIN-525 PolicyEnforcementWriteDriver implementation
  docs/memory-pins/PIN-525-policy-enforcement-write-driver.md
Due: none

docs: add Phase 4 PolicyEnforcementWriteDriver to canonical workbook
  backend/app/hoc/cus/_domain_map/V4_DOMAIN_WORKBOOK_CANONICAL_FINAL.md
Due: none

fix(hoc): eliminate all 14 known exceptions in CI hygiene check
  backend/app/hoc/api/int/agent/__init__.py
  backend/app/hoc/int/account/engines/__init__.py
  backend/app/hoc/int/activity/engines/__init__.py
  backend/app/hoc/int/general/drivers/step_enforcement.py
  backend/app/hoc/int/policies/engines/__init__.py
  docs/architecture/hoc/KNOWN_EXCEPTIONS_ELIMINATION_EVIDENCE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check
