Repository Xuniverzadmin/agenticverz_2.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: preflight-routes, sqlmodel-patterns, api-endpoint-check

preflight-routes:
  name: Preflight Route Check
  entry: python scripts/ops/preflight.py --routes
  language: python
  pass_filenames: false
  stages:
  - pre-commit

sqlmodel-patterns:
  name: SQLModel Pattern Linter (Staged)
  entry: env CHECK_SCOPE=staged python scripts/ops/lint_sqlmodel_patterns.py
  language: python
  pass_filenames: true

api-endpoint-check:
  name: API Endpoint Wiring Check
  entry: python scripts/ops/check_api_wiring.py
  language: python
  pass_filenames: false

governance: scope blockers to hoc and tombstone non-hoc legacy debt
  .github/workflows/capability-registry.yml
  .github/workflows/import-hygiene.yml
  .github/workflows/layer-segregation.yml
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_COURSE_CORRECTION_PLAN_2026-02-20.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-592-hoc-only-governance-scope-and-non-hoc-tombstone-ledger.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
  scripts/ops/layer_segregation_guard.py
Due: preflight-routes, api-endpoint-check

docs: add PIN-593 hoc scope-lock and PR10 snapshot
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-593-hoc-workstream-scope-lock-and-pr10-snapshot.md
Due: none

feat(account): add PR-10 users list facade contract slice
  backend/app/hoc/api/cus/account/account_public.py
  backend/app/hoc/api/facades/cus/account.py
  backend/app/hoc/cus/account/L6_drivers/accounts_facade_driver.py
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR10_ACCOUNT_USERS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_account_public_facade_pr10.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_PR7_PR8_PR9_PR10_2026-02-16.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-588-account-users-list-facade-pr10-contract-hardening.md
  literature/hoc_domain/account/DOMAIN_CAPABILITY.md
  literature/hoc_domain/account/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-1 recovery: runs facade contract hardening slice
  backend/app/hoc/api/cus/activity/runs_facade.py
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR1_RUNS_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_runs_facade_pr1.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-3 recovery: policies list facade contract hardening slice
  backend/app/hoc/api/cus/policies/policies_public.py
  backend/app/hoc/api/facades/cus/policies.py
  backend/app/hoc/cus/policies/L6_drivers/policies_facade_driver.py
  backend/app/hoc/docs/architecture/usecases/PR3_POLICIES_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR3_POLICIES_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR3_POLICIES_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_policies_public_facade_pr3.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_2026-02-16.md
  docs/memory-pins/PIN-579-policies-list-facade-pr3-contract-hardening.md
  literature/hoc_domain/policies/DOMAIN_CAPABILITY.md
  literature/hoc_domain/policies/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-4 recovery: controls list facade contract hardening slice
  backend/app/hoc/api/cus/controls/controls_public.py
  backend/app/hoc/api/facades/cus/controls.py
  backend/app/hoc/cus/controls/L5_engines/controls_facade.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/controls_handler.py
  backend/app/hoc/docs/architecture/usecases/PR4_CONTROLS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR4_CONTROLS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR4_CONTROLS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_controls_public_facade_pr4.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_2026-02-16.md
  docs/memory-pins/PIN-580-controls-list-facade-pr4-contract-hardening.md
  literature/hoc_domain/controls/DOMAIN_CAPABILITY.md
  literature/hoc_domain/controls/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-5 recovery: logs replay feed facade contract hardening slice
  backend/app/hoc/api/cus/logs/logs_public.py
  backend/app/hoc/api/facades/cus/logs.py
  backend/app/hoc/cus/logs/L6_drivers/logs_domain_store.py
  backend/app/hoc/docs/architecture/usecases/PR5_LOGS_REPLAY_FEED_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR5_LOGS_REPLAY_FEED_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR5_LOGS_REPLAY_FEED_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_logs_public_facade_pr5.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_2026-02-16.md
  docs/memory-pins/PIN-581-logs-replay-feed-facade-pr5-contract-hardening.md
  literature/hoc_domain/logs/DOMAIN_CAPABILITY.md
  literature/hoc_domain/logs/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-6 recovery: overview highlights facade contract hardening slice
  backend/app/hoc/api/cus/overview/overview_public.py
  backend/app/hoc/api/facades/cus/overview.py
  backend/app/hoc/docs/architecture/usecases/PR6_OVERVIEW_HIGHLIGHTS_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR6_OVERVIEW_HIGHLIGHTS_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR6_OVERVIEW_HIGHLIGHTS_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_overview_public_facade_pr6.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_2026-02-16.md
  docs/memory-pins/PIN-582-overview-highlights-facade-pr6-contract-hardening.md
  literature/hoc_domain/overview/DOMAIN_CAPABILITY.md
  literature/hoc_domain/overview/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-7 recovery: analytics usage facade contract hardening slice
  backend/app/hoc/api/cus/analytics/analytics_public.py
  backend/app/hoc/api/facades/cus/analytics.py
  backend/app/hoc/docs/architecture/usecases/PR7_ANALYTICS_USAGE_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR7_ANALYTICS_USAGE_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR7_ANALYTICS_USAGE_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_analytics_public_facade_pr7.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_PR7_2026-02-16.md
  docs/memory-pins/PIN-584-analytics-usage-facade-pr7-contract-hardening.md
  literature/hoc_domain/analytics/DOMAIN_CAPABILITY.md
  literature/hoc_domain/analytics/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-8 recovery: integrations list facade contract hardening slice
  backend/app/hoc/api/cus/integrations/integrations_public.py
  backend/app/hoc/api/facades/cus/integrations.py
  backend/app/hoc/cus/integrations/L6_drivers/cus_integration_driver.py
  backend/app/hoc/docs/architecture/usecases/PR8_INTEGRATIONS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR8_INTEGRATIONS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR8_INTEGRATIONS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_integrations_public_facade_pr8.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_PR7_PR8_2026-02-16.md
  docs/memory-pins/PIN-585-integrations-list-facade-pr8-contract-hardening.md
  literature/hoc_domain/integrations/DOMAIN_CAPABILITY.md
  literature/hoc_domain/integrations/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

PR-9 recovery: api keys list facade contract hardening slice
  backend/app/hoc/api/cus/api_keys/api_keys_public.py
  backend/app/hoc/api/facades/cus/api_keys.py
  backend/app/hoc/cus/api_keys/L6_drivers/api_keys_facade_driver.py
  backend/app/hoc/docs/architecture/usecases/PR9_API_KEYS_LIST_FACADE_CONTRACT_ADDENDUM_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR9_API_KEYS_LIST_FACADE_ISSUE_LEDGER_2026-02-16.md
  backend/app/hoc/docs/architecture/usecases/PR9_API_KEYS_LIST_FACADE_PR_DESCRIPTION_2026-02-16.md
  backend/tests/api/test_api_keys_public_facade_pr9.py
  docs/architecture/frontend/FRONTEND_SCAFFOLD_CONTRACT_LINKS_PR1_PR2_PR3_PR4_PR5_PR6_PR7_PR8_PR9_2026-02-16.md
  docs/memory-pins/PIN-587-api-keys-list-facade-pr9-contract-hardening.md
  literature/hoc_domain/api_keys/DOMAIN_CAPABILITY.md
  literature/hoc_domain/api_keys/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: mark Step 6 complete and add PR1-PR10 recovery audit
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_COURSE_CORRECTION_PLAN_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_STEP6_RECOVERY_AUDIT_2026-02-20.md
Due: none

docs: add PIN-594 step6 recovery audit with PR-2 evidence
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-594-pr1-pr10-step6-recovery-audit-with-pr2-evidence.md
Due: none

docs: complete Step 7 frontend ledger sync and pin it
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_COURSE_CORRECTION_PLAN_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_STEP6_RECOVERY_AUDIT_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/PR1_PR10_STEP7_FRONTEND_LEDGER_SYNC_2026-02-20.md
  docs/architecture/frontend/slices/INDEX.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_ACCEPTANCE_MATRIX.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_FINDINGS_LEDGER.md
  docs/architecture/frontend/slices/fe-pr1-runs-completed-stagetest-activity/SLICE_IMPLEMENTATION_REPORT.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_ACCEPTANCE_MATRIX.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_FINDINGS_LEDGER.md
  docs/architecture/frontend/slices/fe-pr1-runs-live-stagetest-activity/SLICE_IMPLEMENTATION_REPORT.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-595-pr1-pr10-step7-frontend-ledger-sync-post-merge.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

governance: close hoc capability-linkage blockers (wave 1)
  backend/app/hoc/cus/integrations/cus_cli.py
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_CAPABILITY_LINKAGE_WAVE1_REMEDIATION_2026-02-20.md
  backend/app/hoc/int/agent/drivers/json_transform_stub.py
  backend/app/hoc/int/agent/drivers/registry_v2.py
  backend/app/hoc/int/agent/engines/http_call_stub.py
  backend/app/hoc/int/agent/engines/llm_invoke_stub.py
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-596-hoc-capability-linkage-wave1-remediation.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hygiene: close wave2 cus import remediation and sync front/back records
  backend/app/hoc/cus/analytics/L5_engines/cost_snapshots_engine.py
  backend/app/hoc/cus/analytics/L6_drivers/cost_snapshots_driver.py
  backend/app/hoc/cus/integrations/L5_vault/engines/service.py
  backend/app/hoc/cus/logs/L6_drivers/bridges_driver.py
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_IMPORT_HYGIENE_WAVE2_CUS_STABILIZATION_2026-02-20.md
  docs/architecture/frontend/CUS_FRONTEND_BACKEND_STABILITY_SYNC_WAVE2_2026-02-20.md
  docs/architecture/frontend/slices/INDEX.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-597-wave2-cus-front-back-stability-remediation.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

governance: wire wave2 cus files to capability registry
  backend/app/hoc/cus/analytics/L5_engines/cost_snapshots_engine.py
  backend/app/hoc/cus/analytics/L6_drivers/cost_snapshots_driver.py
  backend/app/hoc/cus/integrations/L5_vault/engines/service.py
  backend/app/hoc/cus/logs/L6_drivers/bridges_driver.py
  backend/app/hoc/docs/architecture/usecases/HOC_IMPORT_HYGIENE_WAVE2_CUS_STABILIZATION_2026-02-20.md
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/PIN-597-wave2-cus-front-back-stability-remediation.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hygiene: close wave2 batch2 api auth import remediation
  backend/app/hoc/api/cus/api_keys/embedding.py
  backend/app/hoc/api/int/agent/agents.py
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_IMPORT_HYGIENE_WAVE2_BATCH2_API_AUTH_STABILIZATION_2026-02-20.md
  backend/app/hoc/int/agent/engines/onboarding_gate.py
  backend/app/hoc/int/general/engines/role_guard.py
  backend/app/hoc/int/general/engines/tier_gating.py
  docs/architecture/frontend/CUS_FRONTEND_BACKEND_STABILITY_SYNC_WAVE2_2026-02-20.md
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-598-wave2-import-hygiene-batch2-api-auth-stabilization.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hygiene: close wave2 batch3 int agent import remediation
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_IMPORT_HYGIENE_WAVE2_BATCH3_INT_AGENT_CLUSTER_2026-02-20.md
  backend/app/hoc/int/agent/drivers/agent_spawn.py
  backend/app/hoc/int/agent/drivers/blackboard_ops.py
  backend/app/hoc/int/agent/drivers/kv_store.py
  backend/app/hoc/int/agent/drivers/sdsr_fail_trigger.py
  backend/app/hoc/int/agent/drivers/worker_registry_driver.py
  backend/app/hoc/int/agent/engines/agent_invoke.py
  backend/app/hoc/int/agent/engines/email_send.py
  backend/app/hoc/int/agent/engines/executor.py
  backend/app/hoc/int/agent/engines/http_call.py
  backend/app/hoc/int/agent/engines/llm_invoke.py
  backend/app/hoc/int/agent/engines/skills_base.py
  backend/app/hoc/int/agent/engines/slack_send.py
  backend/app/hoc/int/agent/engines/voyage_embed.py
  backend/app/hoc/int/agent/engines/webhook_send.py
  docs/architecture/frontend/CUS_FRONTEND_BACKEND_STABILITY_SYNC_WAVE2_2026-02-20.md
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-599-wave2-import-hygiene-batch3-int-agent-cluster.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hygiene: complete wave2 hoc import residual clearance
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_IMPORT_HYGIENE_WAVE2_BATCH4_REMAINING_CLUSTER_2026-02-20.md
  backend/app/hoc/int/analytics/engines/runner.py
  backend/app/hoc/int/general/drivers/artifact.py
  backend/app/hoc/int/logs/drivers/pool.py
  backend/app/hoc/int/logs/engines/gateway_audit.py
  backend/app/hoc/int/logs/engines/shadow_audit.py
  backend/app/hoc/int/platform/drivers/care.py
  backend/app/hoc/int/platform/drivers/memory_store.py
  backend/app/hoc/int/platform/drivers/policies.py
  backend/app/hoc/int/platform/drivers/probes.py
  backend/app/hoc/int/policies/engines/rbac_middleware.py
  docs/architecture/frontend/CUS_FRONTEND_BACKEND_STABILITY_SYNC_WAVE2_2026-02-20.md
  docs/capabilities/CAPABILITY_REGISTRY.yaml
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-600-wave2-import-hygiene-batch4-final-clear.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

governance: wave1 cut hoc layer violations from 93 to 14
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_LAYER_CAPABILITY_REMEDIATION_WAVE1_IMPLEMENTED_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_LAYER_CAPABILITY_REMEDIATION_WAVE1_PLAN_2026-02-20.md
  backend/app/hoc/int/agent/engines/credit_engine.py
  backend/app/hoc/int/agent/engines/governance_engine.py
  backend/app/hoc/int/agent/engines/invoke_audit_engine.py
  backend/app/hoc/int/agent/engines/job_engine.py
  backend/app/hoc/int/agent/engines/message_engine.py
  backend/app/hoc/int/agent/engines/registry_engine.py
  backend/app/hoc/int/agent/engines/worker_engine.py
  docs/capabilities/CAPABILITY_REGISTRY.yaml
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

hoc: close capability warning backlog (11->0)
  backend/app/hoc/docs/architecture/usecases/CI_BASELINE_BLOCKER_QUEUE_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/CI_NON_HOC_TOMBSTONE_LEDGER_2026-02-20.md
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_CAPABILITY_SWEEP_WAVES_PLAN_2026-02-20.md
  docs/capabilities/CAPABILITY_REGISTRY.yaml
Due: none

docs: close CUS capability sweep C1-C4 with PIN-601
  backend/app/hoc/docs/architecture/usecases/HOC_CUS_CAPABILITY_SWEEP_WAVES_PLAN_2026-02-20.md
  docs/memory-pins/INDEX.md
  docs/memory-pins/PIN-601-cus-capability-sweep-c1-c4-closure.md
  literature/hoc_domain/ops/SOFTWARE_BIBLE.md
Due: none

fix(init-hygiene): remove stale logs bridges driver causing L6 cross-domain violations
  backend/app/hoc/cus/logs/L6_drivers/bridges_driver.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

fix(init-hygiene): remove stale logs bridges driver causing L6 cross-domain violations (#26)
  backend/app/hoc/cus/logs/L6_drivers/bridges_driver.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

test(t5): add missing invariant escalation suite to restore 293 baseline
  backend/tests/governance/t5/test_invariant_escalation.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore: domain runtime invariant code + tests freeze (10/10 domains)
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/activity_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/analytics_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/api_keys_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/integrations_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/logs_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/operation_registry.py
  backend/tests/governance/t5/test_account_onboarding_runtime_delta.py
  backend/tests/governance/t5/test_activity_runtime_delta.py
  backend/tests/governance/t5/test_analytics_runtime_delta.py
  backend/tests/governance/t5/test_api_keys_runtime_delta.py
  backend/tests/governance/t5/test_controls_runtime_delta.py
  backend/tests/governance/t5/test_incidents_runtime_delta.py
  backend/tests/governance/t5/test_integrations_runtime_delta.py
  backend/tests/governance/t5/test_invariant_registry_wiring.py
  backend/tests/governance/t5/test_logs_runtime_delta.py
  backend/tests/governance/t5/test_policies_runtime_delta.py
  backend/tests/governance/t5/test_tenant_runtime_delta.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

chore: domain runtime invariant code + tests freeze (10/10 domains, 293 t5) (#27)
  backend/app/hoc/cus/hoc_spine/authority/business_invariants.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/activity_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/analytics_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/api_keys_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/integrations_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/handlers/logs_handler.py
  backend/app/hoc/cus/hoc_spine/orchestrator/operation_registry.py
  backend/tests/governance/t5/test_account_onboarding_runtime_delta.py
  backend/tests/governance/t5/test_activity_runtime_delta.py
  backend/tests/governance/t5/test_analytics_runtime_delta.py
  backend/tests/governance/t5/test_api_keys_runtime_delta.py
  backend/tests/governance/t5/test_controls_runtime_delta.py
  backend/tests/governance/t5/test_incidents_runtime_delta.py
  backend/tests/governance/t5/test_integrations_runtime_delta.py
  backend/tests/governance/t5/test_invariant_escalation.py
  backend/tests/governance/t5/test_invariant_registry_wiring.py
  backend/tests/governance/t5/test_logs_runtime_delta.py
  backend/tests/governance/t5/test_policies_runtime_delta.py
  backend/tests/governance/t5/test_tenant_runtime_delta.py
Due: preflight-routes, sqlmodel-patterns, api-endpoint-check

docs: domain runtime invariant plan + implemented docs (10/10 domains)
  backend/app/hoc/docs/architecture/usecases/HOC_ACCOUNT_ONBOARDING_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACCOUNT_ONBOARDING_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACTIVITY_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACTIVITY_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_ANALYTICS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ANALYTICS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_KEYS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_KEYS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_LOGS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_LOGS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
Due: none

docs: domain runtime invariant plan + implemented docs (10/10 domains) (#28)
  backend/app/hoc/docs/architecture/usecases/HOC_ACCOUNT_ONBOARDING_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACCOUNT_ONBOARDING_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACTIVITY_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ACTIVITY_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_ANALYTICS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_ANALYTICS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_KEYS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_API_KEYS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_CONTROLS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INCIDENTS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_INTEGRATIONS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_LOGS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_LOGS_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_20_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_POLICIES_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan.md
  backend/app/hoc/docs/architecture/usecases/HOC_TENANT_DOMAIN_DELTA_RUNTIME_CORRECTNESS_ITERATION_2026_02_16_plan_implemented.md
Due: none

docs: domain runtime invariant tracker + freeze evidence (10/10)
  backend/app/hoc/docs/architecture/usecases/HOC_DOMAIN_RUNTIME_INVARIANT_COMPLETION_TRACKER_2026_02_20.md
  backend/app/hoc/docs/architecture/usecases/HOC_DOMAIN_RUNTIME_INVARIANT_FINAL_FREEZE_2026_02_20.md
Due: none

docs: domain runtime invariant tracker + freeze evidence (10/10) (#29)
  backend/app/hoc/docs/architecture/usecases/HOC_DOMAIN_RUNTIME_INVARIANT_COMPLETION_TRACKER_2026_02_20.md
  backend/app/hoc/docs/architecture/usecases/HOC_DOMAIN_RUNTIME_INVARIANT_FINAL_FREEZE_2026_02_20.md
Due: none

Path conditions:
  preflight-routes: any of: \.py$
  sqlmodel-patterns: any of: ^backend/ and \.py$
  api-endpoint-check: any of: \.py$
